<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.AutomaticEdiPoolMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.AutomaticEdiPool">
    <id column="prod_automatic_edi_pool_id" jdbcType="INTEGER" property="prodAutomaticEdiPoolId" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="container_user" jdbcType="VARCHAR" property="containerUser" />
    <result column="container_category" jdbcType="VARCHAR" property="containerCategory" />
    <result column="reply_state" jdbcType="VARCHAR" property="replyState" />
    <result column="time_field" jdbcType="VARCHAR" property="timeField" />
    <result column="wait_miniute" jdbcType="INTEGER" property="waitMiniute" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_automatic_edi_pool_id, company, container_user, container_category, reply_state, 
    time_field, wait_miniute, is_del, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.AutomaticEdiPoolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_automatic_edi_pool
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_automatic_edi_pool
    where prod_automatic_edi_pool_id = #{prodAutomaticEdiPoolId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_automatic_edi_pool
    where prod_automatic_edi_pool_id = #{prodAutomaticEdiPoolId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.AutomaticEdiPoolExample">
    delete from prod_automatic_edi_pool
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.AutomaticEdiPool">
    insert into prod_automatic_edi_pool (prod_automatic_edi_pool_id, company, 
      container_user, container_category, reply_state, 
      time_field, wait_miniute, is_del, 
      create_time, create_user, update_time, 
      update_user)
    values (#{prodAutomaticEdiPoolId,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, 
      #{containerUser,jdbcType=VARCHAR}, #{containerCategory,jdbcType=VARCHAR}, #{replyState,jdbcType=VARCHAR}, 
      #{timeField,jdbcType=VARCHAR}, #{waitMiniute,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.AutomaticEdiPool">
    insert into prod_automatic_edi_pool
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodAutomaticEdiPoolId != null">
        prod_automatic_edi_pool_id,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="containerUser != null">
        container_user,
      </if>
      <if test="containerCategory != null">
        container_category,
      </if>
      <if test="replyState != null">
        reply_state,
      </if>
      <if test="timeField != null">
        time_field,
      </if>
      <if test="waitMiniute != null">
        wait_miniute,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodAutomaticEdiPoolId != null">
        #{prodAutomaticEdiPoolId,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="containerUser != null">
        #{containerUser,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="replyState != null">
        #{replyState,jdbcType=VARCHAR},
      </if>
      <if test="timeField != null">
        #{timeField,jdbcType=VARCHAR},
      </if>
      <if test="waitMiniute != null">
        #{waitMiniute,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.AutomaticEdiPoolExample" resultType="java.lang.Long">
    select count(*) from prod_automatic_edi_pool
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_automatic_edi_pool
    <set>
      <if test="record.prodAutomaticEdiPoolId != null">
        prod_automatic_edi_pool_id = #{record.prodAutomaticEdiPoolId,jdbcType=INTEGER},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.containerUser != null">
        container_user = #{record.containerUser,jdbcType=VARCHAR},
      </if>
      <if test="record.containerCategory != null">
        container_category = #{record.containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.replyState != null">
        reply_state = #{record.replyState,jdbcType=VARCHAR},
      </if>
      <if test="record.timeField != null">
        time_field = #{record.timeField,jdbcType=VARCHAR},
      </if>
      <if test="record.waitMiniute != null">
        wait_miniute = #{record.waitMiniute,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_automatic_edi_pool
    set prod_automatic_edi_pool_id = #{record.prodAutomaticEdiPoolId,jdbcType=INTEGER},
      company = #{record.company,jdbcType=VARCHAR},
      container_user = #{record.containerUser,jdbcType=VARCHAR},
      container_category = #{record.containerCategory,jdbcType=VARCHAR},
      reply_state = #{record.replyState,jdbcType=VARCHAR},
      time_field = #{record.timeField,jdbcType=VARCHAR},
      wait_miniute = #{record.waitMiniute,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.AutomaticEdiPool">
    update prod_automatic_edi_pool
    <set>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="containerUser != null">
        container_user = #{containerUser,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        container_category = #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="replyState != null">
        reply_state = #{replyState,jdbcType=VARCHAR},
      </if>
      <if test="timeField != null">
        time_field = #{timeField,jdbcType=VARCHAR},
      </if>
      <if test="waitMiniute != null">
        wait_miniute = #{waitMiniute,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where prod_automatic_edi_pool_id = #{prodAutomaticEdiPoolId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.AutomaticEdiPool">
    update prod_automatic_edi_pool
    set company = #{company,jdbcType=VARCHAR},
      container_user = #{containerUser,jdbcType=VARCHAR},
      container_category = #{containerCategory,jdbcType=VARCHAR},
      reply_state = #{replyState,jdbcType=VARCHAR},
      time_field = #{timeField,jdbcType=VARCHAR},
      wait_miniute = #{waitMiniute,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where prod_automatic_edi_pool_id = #{prodAutomaticEdiPoolId,jdbcType=INTEGER}
  </update>
</mapper>