<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.CommonRemarksMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.CommonRemarks">
    <id column="prod_common_remarks_id" jdbcType="INTEGER" property="prodCommonRemarksId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="container_category" jdbcType="VARCHAR" property="containerCategory" />
    <result column="remarks_content" jdbcType="VARCHAR" property="remarksContent" />
    <result column="remarks_content_en" jdbcType="VARCHAR" property="remarksContentEn" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_common_remarks_id, `key`, company, container_category, remarks_content, remarks_content_en, 
    is_del, create_time, create_user, update_time, update_user, is_valid
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.CommonRemarksExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_common_remarks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_common_remarks
    where prod_common_remarks_id = #{prodCommonRemarksId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_common_remarks
    where prod_common_remarks_id = #{prodCommonRemarksId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.CommonRemarksExample">
    delete from prod_common_remarks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.CommonRemarks">
    insert into prod_common_remarks (prod_common_remarks_id, `key`, company, 
      container_category, remarks_content, remarks_content_en, 
      is_del, create_time, create_user, 
      update_time, update_user, is_valid
      )
    values (#{prodCommonRemarksId,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{containerCategory,jdbcType=VARCHAR}, #{remarksContent,jdbcType=VARCHAR}, #{remarksContentEn,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.CommonRemarks">
    insert into prod_common_remarks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodCommonRemarksId != null">
        prod_common_remarks_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="containerCategory != null">
        container_category,
      </if>
      <if test="remarksContent != null">
        remarks_content,
      </if>
      <if test="remarksContentEn != null">
        remarks_content_en,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodCommonRemarksId != null">
        #{prodCommonRemarksId,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="remarksContent != null">
        #{remarksContent,jdbcType=VARCHAR},
      </if>
      <if test="remarksContentEn != null">
        #{remarksContentEn,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.CommonRemarksExample" resultType="java.lang.Long">
    select count(*) from prod_common_remarks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_common_remarks
    <set>
      <if test="record.prodCommonRemarksId != null">
        prod_common_remarks_id = #{record.prodCommonRemarksId,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.containerCategory != null">
        container_category = #{record.containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.remarksContent != null">
        remarks_content = #{record.remarksContent,jdbcType=VARCHAR},
      </if>
      <if test="record.remarksContentEn != null">
        remarks_content_en = #{record.remarksContentEn,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_common_remarks
    set prod_common_remarks_id = #{record.prodCommonRemarksId,jdbcType=INTEGER},
      `key` = #{record.key,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      container_category = #{record.containerCategory,jdbcType=VARCHAR},
      remarks_content = #{record.remarksContent,jdbcType=VARCHAR},
      remarks_content_en = #{record.remarksContentEn,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      is_valid = #{record.isValid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.CommonRemarks">
    update prod_common_remarks
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        container_category = #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="remarksContent != null">
        remarks_content = #{remarksContent,jdbcType=VARCHAR},
      </if>
      <if test="remarksContentEn != null">
        remarks_content_en = #{remarksContentEn,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where prod_common_remarks_id = #{prodCommonRemarksId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.CommonRemarks">
    update prod_common_remarks
    set `key` = #{key,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      container_category = #{containerCategory,jdbcType=VARCHAR},
      remarks_content = #{remarksContent,jdbcType=VARCHAR},
      remarks_content_en = #{remarksContentEn,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER}
    where prod_common_remarks_id = #{prodCommonRemarksId,jdbcType=INTEGER}
  </update>
</mapper>