<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.CompanyEdiTypeMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.CompanyEdiType">
    <id column="prod_company_edi_type_id" jdbcType="INTEGER" property="prodCompanyEdiTypeId" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="container_user" jdbcType="VARCHAR" property="containerUser" />
    <result column="container_category" jdbcType="VARCHAR" property="containerCategory" />
    <result column="edi_type" jdbcType="VARCHAR" property="ediType" />
    <result column="is_unity_quote" jdbcType="VARCHAR" property="isUnityQuote" />
    <result column="edit_file_format" jdbcType="INTEGER" property="editFileFormat" />
    <result column="estimate_format" jdbcType="VARCHAR" property="estimateFormat" />
    <result column="send_type" jdbcType="VARCHAR" property="sendType" />
    <result column="edi_method" jdbcType="VARCHAR" property="ediMethod" />
    <result column="edi_file_template" jdbcType="VARCHAR" property="ediFileTemplate" />
    <result column="send_email" jdbcType="VARCHAR" property="sendEmail" />
    <result column="is_enabled" jdbcType="INTEGER" property="isEnabled" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_company_edi_type_id, company, container_user, container_category, edi_type, 
    is_unity_quote, edit_file_format, estimate_format, send_type, edi_method, edi_file_template, 
    send_email, is_enabled, is_del, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.CompanyEdiTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_company_edi_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_company_edi_type
    where prod_company_edi_type_id = #{prodCompanyEdiTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_company_edi_type
    where prod_company_edi_type_id = #{prodCompanyEdiTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.CompanyEdiTypeExample">
    delete from prod_company_edi_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.CompanyEdiType">
    insert into prod_company_edi_type (prod_company_edi_type_id, company, container_user, 
      container_category, edi_type, is_unity_quote, 
      edit_file_format, estimate_format, send_type, 
      edi_method, edi_file_template, send_email, 
      is_enabled, is_del, create_time, 
      create_user, update_time, update_user
      )
    values (#{prodCompanyEdiTypeId,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{containerUser,jdbcType=VARCHAR}, 
      #{containerCategory,jdbcType=VARCHAR}, #{ediType,jdbcType=VARCHAR}, #{isUnityQuote,jdbcType=VARCHAR}, 
      #{editFileFormat,jdbcType=INTEGER}, #{estimateFormat,jdbcType=VARCHAR}, #{sendType,jdbcType=VARCHAR}, 
      #{ediMethod,jdbcType=VARCHAR}, #{ediFileTemplate,jdbcType=VARCHAR}, #{sendEmail,jdbcType=VARCHAR}, 
      #{isEnabled,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.CompanyEdiType">
    insert into prod_company_edi_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodCompanyEdiTypeId != null">
        prod_company_edi_type_id,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="containerUser != null">
        container_user,
      </if>
      <if test="containerCategory != null">
        container_category,
      </if>
      <if test="ediType != null">
        edi_type,
      </if>
      <if test="isUnityQuote != null">
        is_unity_quote,
      </if>
      <if test="editFileFormat != null">
        edit_file_format,
      </if>
      <if test="estimateFormat != null">
        estimate_format,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="ediMethod != null">
        edi_method,
      </if>
      <if test="ediFileTemplate != null">
        edi_file_template,
      </if>
      <if test="sendEmail != null">
        send_email,
      </if>
      <if test="isEnabled != null">
        is_enabled,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodCompanyEdiTypeId != null">
        #{prodCompanyEdiTypeId,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="containerUser != null">
        #{containerUser,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="ediType != null">
        #{ediType,jdbcType=VARCHAR},
      </if>
      <if test="isUnityQuote != null">
        #{isUnityQuote,jdbcType=VARCHAR},
      </if>
      <if test="editFileFormat != null">
        #{editFileFormat,jdbcType=INTEGER},
      </if>
      <if test="estimateFormat != null">
        #{estimateFormat,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=VARCHAR},
      </if>
      <if test="ediMethod != null">
        #{ediMethod,jdbcType=VARCHAR},
      </if>
      <if test="ediFileTemplate != null">
        #{ediFileTemplate,jdbcType=VARCHAR},
      </if>
      <if test="sendEmail != null">
        #{sendEmail,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.CompanyEdiTypeExample" resultType="java.lang.Long">
    select count(*) from prod_company_edi_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_company_edi_type
    <set>
      <if test="record.prodCompanyEdiTypeId != null">
        prod_company_edi_type_id = #{record.prodCompanyEdiTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.containerUser != null">
        container_user = #{record.containerUser,jdbcType=VARCHAR},
      </if>
      <if test="record.containerCategory != null">
        container_category = #{record.containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.ediType != null">
        edi_type = #{record.ediType,jdbcType=VARCHAR},
      </if>
      <if test="record.isUnityQuote != null">
        is_unity_quote = #{record.isUnityQuote,jdbcType=VARCHAR},
      </if>
      <if test="record.editFileFormat != null">
        edit_file_format = #{record.editFileFormat,jdbcType=INTEGER},
      </if>
      <if test="record.estimateFormat != null">
        estimate_format = #{record.estimateFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.sendType != null">
        send_type = #{record.sendType,jdbcType=VARCHAR},
      </if>
      <if test="record.ediMethod != null">
        edi_method = #{record.ediMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.ediFileTemplate != null">
        edi_file_template = #{record.ediFileTemplate,jdbcType=VARCHAR},
      </if>
      <if test="record.sendEmail != null">
        send_email = #{record.sendEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.isEnabled != null">
        is_enabled = #{record.isEnabled,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_company_edi_type
    set prod_company_edi_type_id = #{record.prodCompanyEdiTypeId,jdbcType=INTEGER},
      company = #{record.company,jdbcType=VARCHAR},
      container_user = #{record.containerUser,jdbcType=VARCHAR},
      container_category = #{record.containerCategory,jdbcType=VARCHAR},
      edi_type = #{record.ediType,jdbcType=VARCHAR},
      is_unity_quote = #{record.isUnityQuote,jdbcType=VARCHAR},
      edit_file_format = #{record.editFileFormat,jdbcType=INTEGER},
      estimate_format = #{record.estimateFormat,jdbcType=VARCHAR},
      send_type = #{record.sendType,jdbcType=VARCHAR},
      edi_method = #{record.ediMethod,jdbcType=VARCHAR},
      edi_file_template = #{record.ediFileTemplate,jdbcType=VARCHAR},
      send_email = #{record.sendEmail,jdbcType=VARCHAR},
      is_enabled = #{record.isEnabled,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.CompanyEdiType">
    update prod_company_edi_type
    <set>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="containerUser != null">
        container_user = #{containerUser,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        container_category = #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="ediType != null">
        edi_type = #{ediType,jdbcType=VARCHAR},
      </if>
      <if test="isUnityQuote != null">
        is_unity_quote = #{isUnityQuote,jdbcType=VARCHAR},
      </if>
      <if test="editFileFormat != null">
        edit_file_format = #{editFileFormat,jdbcType=INTEGER},
      </if>
      <if test="estimateFormat != null">
        estimate_format = #{estimateFormat,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null">
        send_type = #{sendType,jdbcType=VARCHAR},
      </if>
      <if test="ediMethod != null">
        edi_method = #{ediMethod,jdbcType=VARCHAR},
      </if>
      <if test="ediFileTemplate != null">
        edi_file_template = #{ediFileTemplate,jdbcType=VARCHAR},
      </if>
      <if test="sendEmail != null">
        send_email = #{sendEmail,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        is_enabled = #{isEnabled,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where prod_company_edi_type_id = #{prodCompanyEdiTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.CompanyEdiType">
    update prod_company_edi_type
    set company = #{company,jdbcType=VARCHAR},
      container_user = #{containerUser,jdbcType=VARCHAR},
      container_category = #{containerCategory,jdbcType=VARCHAR},
      edi_type = #{ediType,jdbcType=VARCHAR},
      is_unity_quote = #{isUnityQuote,jdbcType=VARCHAR},
      edit_file_format = #{editFileFormat,jdbcType=INTEGER},
      estimate_format = #{estimateFormat,jdbcType=VARCHAR},
      send_type = #{sendType,jdbcType=VARCHAR},
      edi_method = #{ediMethod,jdbcType=VARCHAR},
      edi_file_template = #{ediFileTemplate,jdbcType=VARCHAR},
      send_email = #{sendEmail,jdbcType=VARCHAR},
      is_enabled = #{isEnabled,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where prod_company_edi_type_id = #{prodCompanyEdiTypeId,jdbcType=INTEGER}
  </update>
</mapper>