<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.ContainerBelongMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.ContainerBelong">
    <id column="prod_container_belong_id" jdbcType="INTEGER" property="prodContainerBelongId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="container_belong_code" jdbcType="VARCHAR" property="containerBelongCode" />
    <result column="container_belong_name" jdbcType="VARCHAR" property="containerBelongName" />
    <result column="container_belong_name_en" jdbcType="VARCHAR" property="containerBelongNameEn" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_container_belong_id, `key`, container_belong_code, container_belong_name, container_belong_name_en, 
    is_del, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.ContainerBelongExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_container_belong
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_container_belong
    where prod_container_belong_id = #{prodContainerBelongId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_container_belong
    where prod_container_belong_id = #{prodContainerBelongId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.ContainerBelongExample">
    delete from prod_container_belong
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.ContainerBelong">
    insert into prod_container_belong (prod_container_belong_id, `key`, container_belong_code, 
      container_belong_name, container_belong_name_en, 
      is_del, create_time, create_user, 
      update_time, update_user)
    values (#{prodContainerBelongId,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{containerBelongCode,jdbcType=VARCHAR}, 
      #{containerBelongName,jdbcType=VARCHAR}, #{containerBelongNameEn,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.ContainerBelong">
    insert into prod_container_belong
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodContainerBelongId != null">
        prod_container_belong_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="containerBelongCode != null">
        container_belong_code,
      </if>
      <if test="containerBelongName != null">
        container_belong_name,
      </if>
      <if test="containerBelongNameEn != null">
        container_belong_name_en,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodContainerBelongId != null">
        #{prodContainerBelongId,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="containerBelongCode != null">
        #{containerBelongCode,jdbcType=VARCHAR},
      </if>
      <if test="containerBelongName != null">
        #{containerBelongName,jdbcType=VARCHAR},
      </if>
      <if test="containerBelongNameEn != null">
        #{containerBelongNameEn,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.ContainerBelongExample" resultType="java.lang.Long">
    select count(*) from prod_container_belong
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_container_belong
    <set>
      <if test="record.prodContainerBelongId != null">
        prod_container_belong_id = #{record.prodContainerBelongId,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.containerBelongCode != null">
        container_belong_code = #{record.containerBelongCode,jdbcType=VARCHAR},
      </if>
      <if test="record.containerBelongName != null">
        container_belong_name = #{record.containerBelongName,jdbcType=VARCHAR},
      </if>
      <if test="record.containerBelongNameEn != null">
        container_belong_name_en = #{record.containerBelongNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_container_belong
    set prod_container_belong_id = #{record.prodContainerBelongId,jdbcType=INTEGER},
      `key` = #{record.key,jdbcType=VARCHAR},
      container_belong_code = #{record.containerBelongCode,jdbcType=VARCHAR},
      container_belong_name = #{record.containerBelongName,jdbcType=VARCHAR},
      container_belong_name_en = #{record.containerBelongNameEn,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.ContainerBelong">
    update prod_container_belong
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="containerBelongCode != null">
        container_belong_code = #{containerBelongCode,jdbcType=VARCHAR},
      </if>
      <if test="containerBelongName != null">
        container_belong_name = #{containerBelongName,jdbcType=VARCHAR},
      </if>
      <if test="containerBelongNameEn != null">
        container_belong_name_en = #{containerBelongNameEn,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where prod_container_belong_id = #{prodContainerBelongId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.ContainerBelong">
    update prod_container_belong
    set `key` = #{key,jdbcType=VARCHAR},
      container_belong_code = #{containerBelongCode,jdbcType=VARCHAR},
      container_belong_name = #{containerBelongName,jdbcType=VARCHAR},
      container_belong_name_en = #{containerBelongNameEn,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where prod_container_belong_id = #{prodContainerBelongId,jdbcType=INTEGER}
  </update>
</mapper>