<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.LocationMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.Location">
    <id column="prod_location_id" jdbcType="INTEGER" property="prodLocationId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="location_name" jdbcType="VARCHAR" property="locationName" />
    <result column="location_name_en" jdbcType="VARCHAR" property="locationNameEn" />
      <result column="dock" jdbcType="VARCHAR" property="dock"/>
      <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
      <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_location_id, `key`, location_name, location_name_en, dock, is_valid, is_del, 
    create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.LocationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_location
    where prod_location_id = #{prodLocationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_location
    where prod_location_id = #{prodLocationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.LocationExample">
    delete from prod_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.Location">
    insert into prod_location (prod_location_id, `key`, location_name, 
      location_name_en, dock, is_valid, 
      is_del, create_time, create_user, 
      update_time, update_user)
    values (#{prodLocationId,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{locationName,jdbcType=VARCHAR}, 
      #{locationNameEn,jdbcType=VARCHAR}, #{dock,jdbcType=VARCHAR}, #{isValid,jdbcType=INTEGER}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.Location">
    insert into prod_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodLocationId != null">
        prod_location_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="locationName != null">
        location_name,
      </if>
      <if test="locationNameEn != null">
        location_name_en,
      </if>
        <if test="dock != null">
            dock,
        </if>
        <if test="isValid != null">
            is_valid,
        </if>
        <if test="isDel != null">
            is_del,
        </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodLocationId != null">
        #{prodLocationId,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null">
        #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="locationNameEn != null">
        #{locationNameEn,jdbcType=VARCHAR},
      </if>
        <if test="dock != null">
            #{dock,jdbcType=VARCHAR},
        </if>
        <if test="isValid != null">
            #{isValid,jdbcType=INTEGER},
        </if>
        <if test="isDel != null">
            #{isDel,jdbcType=INTEGER},
        </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.LocationExample" resultType="java.lang.Long">
    select count(*) from prod_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_location
    <set>
      <if test="record.prodLocationId != null">
        prod_location_id = #{record.prodLocationId,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.locationName != null">
        location_name = #{record.locationName,jdbcType=VARCHAR},
      </if>
      <if test="record.locationNameEn != null">
        location_name_en = #{record.locationNameEn,jdbcType=VARCHAR},
      </if>
        <if test="record.dock != null">
            dock = #{record.dock,jdbcType=VARCHAR},
        </if>
        <if test="record.isValid != null">
            is_valid = #{record.isValid,jdbcType=INTEGER},
        </if>
        <if test="record.isDel != null">
            is_del = #{record.isDel,jdbcType=INTEGER},
        </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_location
    set prod_location_id = #{record.prodLocationId,jdbcType=INTEGER},
      `key` = #{record.key,jdbcType=VARCHAR},
      location_name = #{record.locationName,jdbcType=VARCHAR},
      location_name_en = #{record.locationNameEn,jdbcType=VARCHAR},
      dock = #{record.dock,jdbcType=VARCHAR},
      is_valid = #{record.isValid,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.Location">
    update prod_location
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null">
        location_name = #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="locationNameEn != null">
        location_name_en = #{locationNameEn,jdbcType=VARCHAR},
      </if>
        <if test="dock != null">
            dock = #{dock,jdbcType=VARCHAR},
        </if>
        <if test="isValid != null">
            is_valid = #{isValid,jdbcType=INTEGER},
        </if>
        <if test="isDel != null">
            is_del = #{isDel,jdbcType=INTEGER},
        </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where prod_location_id = #{prodLocationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.Location">
    update prod_location
    set `key` = #{key,jdbcType=VARCHAR},
      location_name = #{locationName,jdbcType=VARCHAR},
      location_name_en = #{locationNameEn,jdbcType=VARCHAR},
      dock = #{dock,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where prod_location_id = #{prodLocationId,jdbcType=INTEGER}
  </update>
</mapper>