<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.MessageExtMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.common.models.output.message.MessageOutput">
    <result column="message_notifier" jdbcType="VARCHAR" property="messageNotifier" />
    <result column="inform_content" jdbcType="VARCHAR" property="informContent" />
  </resultMap>

  <select id="getMessageList" parameterType="com.sanlly.common.models.input.message.MessageInput" resultMap="BaseResultMap">
    select m.message_notifier,m.inform_content from prod_message m
    where m.is_del=0 and (is_have_inform=1 or is_multiple_inform=0)
    <if test="messageNotifier != null and messageNotifier != ''">
    	<bind name="messageNotifier" value="'%' + messageNotifier + '%'"/>
        	and m.message_notifier like #{messageNotifier}
    </if>
    <if test="company != null and company != ''">
        and m.company = #{company}
    </if>
    <if test="yard != null and yard != ''">
        and m.yard = #{yard}
    </if>
    <if test="containerUser != null and containerUser != ''">
        and m.container_user = #{containerUser}
    </if>
    <if test="containerNo != null and containerNo != ''">
    	<bind name="containerNo" value="'%' + containerNo + '%'"/>
        	and m.container_no like #{containerNo}
    </if>
    <if test="informMethod != null and informMethod != ''">
        and m.inform_method = #{informMethod}
    </if>
  </select>

</mapper>