<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.PartsRepairMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.PartsRepair">
    <id column="prod_parts_repair_id" jdbcType="INTEGER" property="prodPartsRepairId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="container_category" jdbcType="VARCHAR" property="containerCategory" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="parts_repair_code" jdbcType="VARCHAR" property="partsRepairCode" />
    <result column="parts_repair_name" jdbcType="VARCHAR" property="partsRepairName" />
    <result column="parts_repair_name_en" jdbcType="VARCHAR" property="partsRepairNameEn" />
    <result column="use_number" jdbcType="INTEGER" property="useNumber" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_parts_repair_id, `key`, container_category, `type`, parts_repair_code, parts_repair_name, 
    parts_repair_name_en, use_number, is_del, create_time, create_user, update_time, 
    update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.PartsRepairExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_parts_repair
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_parts_repair
    where prod_parts_repair_id = #{prodPartsRepairId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_parts_repair
    where prod_parts_repair_id = #{prodPartsRepairId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.PartsRepairExample">
    delete from prod_parts_repair
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.PartsRepair">
    insert into prod_parts_repair (prod_parts_repair_id, `key`, container_category, 
      `type`, parts_repair_code, parts_repair_name, 
      parts_repair_name_en, use_number, is_del, 
      create_time, create_user, update_time, 
      update_user)
    values (#{prodPartsRepairId,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{containerCategory,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{partsRepairCode,jdbcType=VARCHAR}, #{partsRepairName,jdbcType=VARCHAR}, 
      #{partsRepairNameEn,jdbcType=VARCHAR}, #{useNumber,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.PartsRepair">
    insert into prod_parts_repair
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodPartsRepairId != null">
        prod_parts_repair_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="containerCategory != null">
        container_category,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="partsRepairCode != null">
        parts_repair_code,
      </if>
      <if test="partsRepairName != null">
        parts_repair_name,
      </if>
      <if test="partsRepairNameEn != null">
        parts_repair_name_en,
      </if>
      <if test="useNumber != null">
        use_number,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodPartsRepairId != null">
        #{prodPartsRepairId,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="partsRepairCode != null">
        #{partsRepairCode,jdbcType=VARCHAR},
      </if>
      <if test="partsRepairName != null">
        #{partsRepairName,jdbcType=VARCHAR},
      </if>
      <if test="partsRepairNameEn != null">
        #{partsRepairNameEn,jdbcType=VARCHAR},
      </if>
      <if test="useNumber != null">
        #{useNumber,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.PartsRepairExample" resultType="java.lang.Long">
    select count(*) from prod_parts_repair
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_parts_repair
    <set>
      <if test="record.prodPartsRepairId != null">
        prod_parts_repair_id = #{record.prodPartsRepairId,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.containerCategory != null">
        container_category = #{record.containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.partsRepairCode != null">
        parts_repair_code = #{record.partsRepairCode,jdbcType=VARCHAR},
      </if>
      <if test="record.partsRepairName != null">
        parts_repair_name = #{record.partsRepairName,jdbcType=VARCHAR},
      </if>
      <if test="record.partsRepairNameEn != null">
        parts_repair_name_en = #{record.partsRepairNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.useNumber != null">
        use_number = #{record.useNumber,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_parts_repair
    set prod_parts_repair_id = #{record.prodPartsRepairId,jdbcType=INTEGER},
      `key` = #{record.key,jdbcType=VARCHAR},
      container_category = #{record.containerCategory,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      parts_repair_code = #{record.partsRepairCode,jdbcType=VARCHAR},
      parts_repair_name = #{record.partsRepairName,jdbcType=VARCHAR},
      parts_repair_name_en = #{record.partsRepairNameEn,jdbcType=VARCHAR},
      use_number = #{record.useNumber,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.PartsRepair">
    update prod_parts_repair
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        container_category = #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="partsRepairCode != null">
        parts_repair_code = #{partsRepairCode,jdbcType=VARCHAR},
      </if>
      <if test="partsRepairName != null">
        parts_repair_name = #{partsRepairName,jdbcType=VARCHAR},
      </if>
      <if test="partsRepairNameEn != null">
        parts_repair_name_en = #{partsRepairNameEn,jdbcType=VARCHAR},
      </if>
      <if test="useNumber != null">
        use_number = #{useNumber,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where prod_parts_repair_id = #{prodPartsRepairId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.PartsRepair">
    update prod_parts_repair
    set `key` = #{key,jdbcType=VARCHAR},
      container_category = #{containerCategory,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      parts_repair_code = #{partsRepairCode,jdbcType=VARCHAR},
      parts_repair_name = #{partsRepairName,jdbcType=VARCHAR},
      parts_repair_name_en = #{partsRepairNameEn,jdbcType=VARCHAR},
      use_number = #{useNumber,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where prod_parts_repair_id = #{prodPartsRepairId,jdbcType=INTEGER}
  </update>
</mapper>