<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.ProdDeptMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.ProdDept">
    <id column="prod_prod_dept_id" jdbcType="INTEGER" property="prodProdDeptId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="yard" jdbcType="VARCHAR" property="yard" />
    <result column="prod_dept_name" jdbcType="VARCHAR" property="prodDeptName" />
    <result column="prod_dept_name_en" jdbcType="VARCHAR" property="prodDeptNameEn" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_prod_dept_id, `key`, company, yard, prod_dept_name, prod_dept_name_en, is_del, 
    create_user, create_time, update_user, update_time, is_valid
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.ProdDeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_prod_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_prod_dept
    where prod_prod_dept_id = #{prodProdDeptId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_prod_dept
    where prod_prod_dept_id = #{prodProdDeptId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.ProdDeptExample">
    delete from prod_prod_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.ProdDept">
    insert into prod_prod_dept (prod_prod_dept_id, `key`, company, 
      yard, prod_dept_name, prod_dept_name_en, 
      is_del, create_user, create_time, 
      update_user, update_time, is_valid
      )
    values (#{prodProdDeptId,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{yard,jdbcType=VARCHAR}, #{prodDeptName,jdbcType=VARCHAR}, #{prodDeptNameEn,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=INTEGER}, #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{isValid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.ProdDept">
    insert into prod_prod_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodProdDeptId != null">
        prod_prod_dept_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="yard != null">
        yard,
      </if>
      <if test="prodDeptName != null">
        prod_dept_name,
      </if>
      <if test="prodDeptNameEn != null">
        prod_dept_name_en,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodProdDeptId != null">
        #{prodProdDeptId,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="yard != null">
        #{yard,jdbcType=VARCHAR},
      </if>
      <if test="prodDeptName != null">
        #{prodDeptName,jdbcType=VARCHAR},
      </if>
      <if test="prodDeptNameEn != null">
        #{prodDeptNameEn,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.ProdDeptExample" resultType="java.lang.Long">
    select count(*) from prod_prod_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_prod_dept
    <set>
      <if test="record.prodProdDeptId != null">
        prod_prod_dept_id = #{record.prodProdDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.yard != null">
        yard = #{record.yard,jdbcType=VARCHAR},
      </if>
      <if test="record.prodDeptName != null">
        prod_dept_name = #{record.prodDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.prodDeptNameEn != null">
        prod_dept_name_en = #{record.prodDeptNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_prod_dept
    set prod_prod_dept_id = #{record.prodProdDeptId,jdbcType=INTEGER},
      `key` = #{record.key,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      yard = #{record.yard,jdbcType=VARCHAR},
      prod_dept_name = #{record.prodDeptName,jdbcType=VARCHAR},
      prod_dept_name_en = #{record.prodDeptNameEn,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_valid = #{record.isValid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.ProdDept">
    update prod_prod_dept
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="yard != null">
        yard = #{yard,jdbcType=VARCHAR},
      </if>
      <if test="prodDeptName != null">
        prod_dept_name = #{prodDeptName,jdbcType=VARCHAR},
      </if>
      <if test="prodDeptNameEn != null">
        prod_dept_name_en = #{prodDeptNameEn,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where prod_prod_dept_id = #{prodProdDeptId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.ProdDept">
    update prod_prod_dept
    set `key` = #{key,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      yard = #{yard,jdbcType=VARCHAR},
      prod_dept_name = #{prodDeptName,jdbcType=VARCHAR},
      prod_dept_name_en = #{prodDeptNameEn,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=INTEGER}
    where prod_prod_dept_id = #{prodProdDeptId,jdbcType=INTEGER}
  </update>
</mapper>