<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.UnrecycleCostMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.UnrecycleCost">
    <id column="prod_unrecycle_cost_id" jdbcType="INTEGER" property="prodUnrecycleCostId" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="container_no" jdbcType="VARCHAR" property="containerNo" />
    <result column="course_time" jdbcType="TIMESTAMP" property="courseTime" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="container_type" jdbcType="VARCHAR" property="containerType" />
    <result column="container_category" jdbcType="VARCHAR" property="containerCategory" />
    <result column="yard" jdbcType="VARCHAR" property="yard" />
    <result column="container_user" jdbcType="VARCHAR" property="containerUser" />
    <result column="stockout_cost" jdbcType="DECIMAL" property="stockoutCost" />
    <result column="unrecycle_reason" jdbcType="VARCHAR" property="unrecycleReason" />
    <result column="audit_user" jdbcType="INTEGER" property="auditUser" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_state" jdbcType="VARCHAR" property="auditState" />
    <result column="valuation_state" jdbcType="VARCHAR" property="valuationState" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_unrecycle_cost_id, course, container_no, course_time, `size`, container_type, 
    container_category, yard, container_user, stockout_cost, unrecycle_reason, audit_user, 
    audit_time, audit_state, valuation_state, create_user, create_time, update_user, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.UnrecycleCostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_unrecycle_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_unrecycle_cost
    where prod_unrecycle_cost_id = #{prodUnrecycleCostId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_unrecycle_cost
    where prod_unrecycle_cost_id = #{prodUnrecycleCostId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.UnrecycleCostExample">
    delete from prod_unrecycle_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.UnrecycleCost">
    insert into prod_unrecycle_cost (prod_unrecycle_cost_id, course, container_no, 
      course_time, `size`, container_type, 
      container_category, yard, container_user, 
      stockout_cost, unrecycle_reason, audit_user, 
      audit_time, audit_state, valuation_state, 
      create_user, create_time, update_user, 
      update_time)
    values (#{prodUnrecycleCostId,jdbcType=INTEGER}, #{course,jdbcType=VARCHAR}, #{containerNo,jdbcType=VARCHAR}, 
      #{courseTime,jdbcType=TIMESTAMP}, #{size,jdbcType=VARCHAR}, #{containerType,jdbcType=VARCHAR}, 
      #{containerCategory,jdbcType=VARCHAR}, #{yard,jdbcType=VARCHAR}, #{containerUser,jdbcType=VARCHAR}, 
      #{stockoutCost,jdbcType=DECIMAL}, #{unrecycleReason,jdbcType=VARCHAR}, #{auditUser,jdbcType=INTEGER}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{auditState,jdbcType=VARCHAR}, #{valuationState,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.UnrecycleCost">
    insert into prod_unrecycle_cost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodUnrecycleCostId != null">
        prod_unrecycle_cost_id,
      </if>
      <if test="course != null">
        course,
      </if>
      <if test="containerNo != null">
        container_no,
      </if>
      <if test="courseTime != null">
        course_time,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="containerType != null">
        container_type,
      </if>
      <if test="containerCategory != null">
        container_category,
      </if>
      <if test="yard != null">
        yard,
      </if>
      <if test="containerUser != null">
        container_user,
      </if>
      <if test="stockoutCost != null">
        stockout_cost,
      </if>
      <if test="unrecycleReason != null">
        unrecycle_reason,
      </if>
      <if test="auditUser != null">
        audit_user,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="auditState != null">
        audit_state,
      </if>
      <if test="valuationState != null">
        valuation_state,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodUnrecycleCostId != null">
        #{prodUnrecycleCostId,jdbcType=INTEGER},
      </if>
      <if test="course != null">
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="containerNo != null">
        #{containerNo,jdbcType=VARCHAR},
      </if>
      <if test="courseTime != null">
        #{courseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="containerType != null">
        #{containerType,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="yard != null">
        #{yard,jdbcType=VARCHAR},
      </if>
      <if test="containerUser != null">
        #{containerUser,jdbcType=VARCHAR},
      </if>
      <if test="stockoutCost != null">
        #{stockoutCost,jdbcType=DECIMAL},
      </if>
      <if test="unrecycleReason != null">
        #{unrecycleReason,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null">
        #{auditUser,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditState != null">
        #{auditState,jdbcType=VARCHAR},
      </if>
      <if test="valuationState != null">
        #{valuationState,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.UnrecycleCostExample" resultType="java.lang.Long">
    select count(*) from prod_unrecycle_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_unrecycle_cost
    <set>
      <if test="record.prodUnrecycleCostId != null">
        prod_unrecycle_cost_id = #{record.prodUnrecycleCostId,jdbcType=INTEGER},
      </if>
      <if test="record.course != null">
        course = #{record.course,jdbcType=VARCHAR},
      </if>
      <if test="record.containerNo != null">
        container_no = #{record.containerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTime != null">
        course_time = #{record.courseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.size != null">
        `size` = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.containerType != null">
        container_type = #{record.containerType,jdbcType=VARCHAR},
      </if>
      <if test="record.containerCategory != null">
        container_category = #{record.containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.yard != null">
        yard = #{record.yard,jdbcType=VARCHAR},
      </if>
      <if test="record.containerUser != null">
        container_user = #{record.containerUser,jdbcType=VARCHAR},
      </if>
      <if test="record.stockoutCost != null">
        stockout_cost = #{record.stockoutCost,jdbcType=DECIMAL},
      </if>
      <if test="record.unrecycleReason != null">
        unrecycle_reason = #{record.unrecycleReason,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUser != null">
        audit_user = #{record.auditUser,jdbcType=INTEGER},
      </if>
      <if test="record.auditTime != null">
        audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditState != null">
        audit_state = #{record.auditState,jdbcType=VARCHAR},
      </if>
      <if test="record.valuationState != null">
        valuation_state = #{record.valuationState,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_unrecycle_cost
    set prod_unrecycle_cost_id = #{record.prodUnrecycleCostId,jdbcType=INTEGER},
      course = #{record.course,jdbcType=VARCHAR},
      container_no = #{record.containerNo,jdbcType=VARCHAR},
      course_time = #{record.courseTime,jdbcType=TIMESTAMP},
      `size` = #{record.size,jdbcType=VARCHAR},
      container_type = #{record.containerType,jdbcType=VARCHAR},
      container_category = #{record.containerCategory,jdbcType=VARCHAR},
      yard = #{record.yard,jdbcType=VARCHAR},
      container_user = #{record.containerUser,jdbcType=VARCHAR},
      stockout_cost = #{record.stockoutCost,jdbcType=DECIMAL},
      unrecycle_reason = #{record.unrecycleReason,jdbcType=VARCHAR},
      audit_user = #{record.auditUser,jdbcType=INTEGER},
      audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      audit_state = #{record.auditState,jdbcType=VARCHAR},
      valuation_state = #{record.valuationState,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.UnrecycleCost">
    update prod_unrecycle_cost
    <set>
      <if test="course != null">
        course = #{course,jdbcType=VARCHAR},
      </if>
      <if test="containerNo != null">
        container_no = #{containerNo,jdbcType=VARCHAR},
      </if>
      <if test="courseTime != null">
        course_time = #{courseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=VARCHAR},
      </if>
      <if test="containerType != null">
        container_type = #{containerType,jdbcType=VARCHAR},
      </if>
      <if test="containerCategory != null">
        container_category = #{containerCategory,jdbcType=VARCHAR},
      </if>
      <if test="yard != null">
        yard = #{yard,jdbcType=VARCHAR},
      </if>
      <if test="containerUser != null">
        container_user = #{containerUser,jdbcType=VARCHAR},
      </if>
      <if test="stockoutCost != null">
        stockout_cost = #{stockoutCost,jdbcType=DECIMAL},
      </if>
      <if test="unrecycleReason != null">
        unrecycle_reason = #{unrecycleReason,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null">
        audit_user = #{auditUser,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditState != null">
        audit_state = #{auditState,jdbcType=VARCHAR},
      </if>
      <if test="valuationState != null">
        valuation_state = #{valuationState,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where prod_unrecycle_cost_id = #{prodUnrecycleCostId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.UnrecycleCost">
    update prod_unrecycle_cost
    set course = #{course,jdbcType=VARCHAR},
      container_no = #{containerNo,jdbcType=VARCHAR},
      course_time = #{courseTime,jdbcType=TIMESTAMP},
      `size` = #{size,jdbcType=VARCHAR},
      container_type = #{containerType,jdbcType=VARCHAR},
      container_category = #{containerCategory,jdbcType=VARCHAR},
      yard = #{yard,jdbcType=VARCHAR},
      container_user = #{containerUser,jdbcType=VARCHAR},
      stockout_cost = #{stockoutCost,jdbcType=DECIMAL},
      unrecycle_reason = #{unrecycleReason,jdbcType=VARCHAR},
      audit_user = #{auditUser,jdbcType=INTEGER},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_state = #{auditState,jdbcType=VARCHAR},
      valuation_state = #{valuationState,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where prod_unrecycle_cost_id = #{prodUnrecycleCostId,jdbcType=INTEGER}
  </update>
</mapper>