<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.production.dao.YardMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.production.entity.Yard">
    <id column="prod_yard_id" jdbcType="INTEGER" property="prodYardId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="yard_code" jdbcType="VARCHAR" property="yardCode" />
    <result column="yard_name" jdbcType="VARCHAR" property="yardName" />
    <result column="yard_name_en" jdbcType="VARCHAR" property="yardNameEn" />
    <result column="default_warehouse" jdbcType="VARCHAR" property="defaultWarehouse" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="qrcode_no" jdbcType="VARCHAR" property="qrcodeNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prod_yard_id, `key`, company, yard_code, yard_name, yard_name_en, default_warehouse, 
    is_del, create_time, create_user, update_time, update_user, is_valid, qrcode_no
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.production.entity.YardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prod_yard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_yard
    where prod_yard_id = #{prodYardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_yard
    where prod_yard_id = #{prodYardId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.production.entity.YardExample">
    delete from prod_yard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.production.entity.Yard">
    insert into prod_yard (prod_yard_id, `key`, company, 
      yard_code, yard_name, yard_name_en, 
      default_warehouse, is_del, create_time, 
      create_user, update_time, update_user, 
      is_valid, qrcode_no)
    values (#{prodYardId,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{yardCode,jdbcType=VARCHAR}, #{yardName,jdbcType=VARCHAR}, #{yardNameEn,jdbcType=VARCHAR}, 
      #{defaultWarehouse,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{isValid,jdbcType=INTEGER}, #{qrcodeNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.production.entity.Yard">
    insert into prod_yard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodYardId != null">
        prod_yard_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="yardCode != null">
        yard_code,
      </if>
      <if test="yardName != null">
        yard_name,
      </if>
      <if test="yardNameEn != null">
        yard_name_en,
      </if>
      <if test="defaultWarehouse != null">
        default_warehouse,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="qrcodeNo != null">
        qrcode_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodYardId != null">
        #{prodYardId,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="yardCode != null">
        #{yardCode,jdbcType=VARCHAR},
      </if>
      <if test="yardName != null">
        #{yardName,jdbcType=VARCHAR},
      </if>
      <if test="yardNameEn != null">
        #{yardNameEn,jdbcType=VARCHAR},
      </if>
      <if test="defaultWarehouse != null">
        #{defaultWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="qrcodeNo != null">
        #{qrcodeNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.production.entity.YardExample" resultType="java.lang.Long">
    select count(*) from prod_yard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_yard
    <set>
      <if test="record.prodYardId != null">
        prod_yard_id = #{record.prodYardId,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.yardCode != null">
        yard_code = #{record.yardCode,jdbcType=VARCHAR},
      </if>
      <if test="record.yardName != null">
        yard_name = #{record.yardName,jdbcType=VARCHAR},
      </if>
      <if test="record.yardNameEn != null">
        yard_name_en = #{record.yardNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultWarehouse != null">
        default_warehouse = #{record.defaultWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=INTEGER},
      </if>
      <if test="record.qrcodeNo != null">
        qrcode_no = #{record.qrcodeNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_yard
    set prod_yard_id = #{record.prodYardId,jdbcType=INTEGER},
      `key` = #{record.key,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      yard_code = #{record.yardCode,jdbcType=VARCHAR},
      yard_name = #{record.yardName,jdbcType=VARCHAR},
      yard_name_en = #{record.yardNameEn,jdbcType=VARCHAR},
      default_warehouse = #{record.defaultWarehouse,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      is_valid = #{record.isValid,jdbcType=INTEGER},
      qrcode_no = #{record.qrcodeNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.production.entity.Yard">
    update prod_yard
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="yardCode != null">
        yard_code = #{yardCode,jdbcType=VARCHAR},
      </if>
      <if test="yardName != null">
        yard_name = #{yardName,jdbcType=VARCHAR},
      </if>
      <if test="yardNameEn != null">
        yard_name_en = #{yardNameEn,jdbcType=VARCHAR},
      </if>
      <if test="defaultWarehouse != null">
        default_warehouse = #{defaultWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="qrcodeNo != null">
        qrcode_no = #{qrcodeNo,jdbcType=VARCHAR},
      </if>
    </set>
    where prod_yard_id = #{prodYardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.production.entity.Yard">
    update prod_yard
    set `key` = #{key,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      yard_code = #{yardCode,jdbcType=VARCHAR},
      yard_name = #{yardName,jdbcType=VARCHAR},
      yard_name_en = #{yardNameEn,jdbcType=VARCHAR},
      default_warehouse = #{defaultWarehouse,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      qrcode_no = #{qrcodeNo,jdbcType=VARCHAR}
    where prod_yard_id = #{prodYardId,jdbcType=INTEGER}
  </update>
</mapper>