<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.purchase.dao.StorehouseTypeMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.purchase.entity.StorehouseType">
    <id column="purc_storehouse_typeid" jdbcType="INTEGER" property="purcStorehouseTypeid" />
    <result column="storehouse_type_name" jdbcType="VARCHAR" property="storehouseTypeName" />
    <result column="storehouse_type_en" jdbcType="VARCHAR" property="storehouseTypeEn" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="key" jdbcType="VARCHAR" property="key" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    purc_storehouse_typeid, storehouse_type_name, storehouse_type_en, is_del, create_time, 
    create_user, update_time, update_user, `key`
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.purchase.entity.StorehouseTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purc_storehouse_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purc_storehouse_type
    where purc_storehouse_typeid = #{purcStorehouseTypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purc_storehouse_type
    where purc_storehouse_typeid = #{purcStorehouseTypeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.purchase.entity.StorehouseTypeExample">
    delete from purc_storehouse_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.purchase.entity.StorehouseType">
    insert into purc_storehouse_type (purc_storehouse_typeid, storehouse_type_name, 
      storehouse_type_en, is_del, create_time, 
      create_user, update_time, update_user, 
      `key`)
    values (#{purcStorehouseTypeid,jdbcType=INTEGER}, #{storehouseTypeName,jdbcType=VARCHAR}, 
      #{storehouseTypeEn,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{key,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.purchase.entity.StorehouseType">
    insert into purc_storehouse_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purcStorehouseTypeid != null">
        purc_storehouse_typeid,
      </if>
      <if test="storehouseTypeName != null">
        storehouse_type_name,
      </if>
      <if test="storehouseTypeEn != null">
        storehouse_type_en,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="key != null">
        `key`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="purcStorehouseTypeid != null">
        #{purcStorehouseTypeid,jdbcType=INTEGER},
      </if>
      <if test="storehouseTypeName != null">
        #{storehouseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="storehouseTypeEn != null">
        #{storehouseTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.purchase.entity.StorehouseTypeExample" resultType="java.lang.Long">
    select count(*) from purc_storehouse_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update purc_storehouse_type
    <set>
      <if test="record.purcStorehouseTypeid != null">
        purc_storehouse_typeid = #{record.purcStorehouseTypeid,jdbcType=INTEGER},
      </if>
      <if test="record.storehouseTypeName != null">
        storehouse_type_name = #{record.storehouseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.storehouseTypeEn != null">
        storehouse_type_en = #{record.storehouseTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update purc_storehouse_type
    set purc_storehouse_typeid = #{record.purcStorehouseTypeid,jdbcType=INTEGER},
      storehouse_type_name = #{record.storehouseTypeName,jdbcType=VARCHAR},
      storehouse_type_en = #{record.storehouseTypeEn,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      `key` = #{record.key,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.purchase.entity.StorehouseType">
    update purc_storehouse_type
    <set>
      <if test="storehouseTypeName != null">
        storehouse_type_name = #{storehouseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="storehouseTypeEn != null">
        storehouse_type_en = #{storehouseTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
    </set>
    where purc_storehouse_typeid = #{purcStorehouseTypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.purchase.entity.StorehouseType">
    update purc_storehouse_type
    set storehouse_type_name = #{storehouseTypeName,jdbcType=VARCHAR},
      storehouse_type_en = #{storehouseTypeEn,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      `key` = #{key,jdbcType=VARCHAR}
    where purc_storehouse_typeid = #{purcStorehouseTypeid,jdbcType=INTEGER}
  </update>
</mapper>