<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.purchase.dao.SupplierTenderMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.purchase.entity.SupplierTender">
    <id column="purc_supplier_tender_id" jdbcType="INTEGER" property="purcSupplierTenderId" />
    <result column="tender_purchase_id" jdbcType="INTEGER" property="tenderPurchaseId" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="tender_type" jdbcType="VARCHAR" property="tenderType" />
    <result column="tender_id" jdbcType="VARCHAR" property="tenderId" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="inquiry_num" jdbcType="INTEGER" property="inquiryNum" />
    <result column="bidding_num" jdbcType="INTEGER" property="biddingNum" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="is_win" jdbcType="VARCHAR" property="isWin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    purc_supplier_tender_id, tender_purchase_id, supplier, tender_type, tender_id, `rank`, 
    total, inquiry_num, bidding_num, `status`, remark, create_user, create_time, update_time, 
    update_user, is_win
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.purchase.entity.SupplierTenderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purc_supplier_tender
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purc_supplier_tender
    where purc_supplier_tender_id = #{purcSupplierTenderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purc_supplier_tender
    where purc_supplier_tender_id = #{purcSupplierTenderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.purchase.entity.SupplierTenderExample">
    delete from purc_supplier_tender
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.purchase.entity.SupplierTender">
    insert into purc_supplier_tender (purc_supplier_tender_id, tender_purchase_id, 
      supplier, tender_type, tender_id, 
      `rank`, total, inquiry_num, 
      bidding_num, `status`, remark, 
      create_user, create_time, update_time, 
      update_user, is_win)
    values (#{purcSupplierTenderId,jdbcType=INTEGER}, #{tenderPurchaseId,jdbcType=INTEGER}, 
      #{supplier,jdbcType=VARCHAR}, #{tenderType,jdbcType=VARCHAR}, #{tenderId,jdbcType=VARCHAR}, 
      #{rank,jdbcType=INTEGER}, #{total,jdbcType=DECIMAL}, #{inquiryNum,jdbcType=INTEGER}, 
      #{biddingNum,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=INTEGER}, #{isWin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.purchase.entity.SupplierTender">
    insert into purc_supplier_tender
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purcSupplierTenderId != null">
        purc_supplier_tender_id,
      </if>
      <if test="tenderPurchaseId != null">
        tender_purchase_id,
      </if>
      <if test="supplier != null">
        supplier,
      </if>
      <if test="tenderType != null">
        tender_type,
      </if>
      <if test="tenderId != null">
        tender_id,
      </if>
      <if test="rank != null">
        `rank`,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="inquiryNum != null">
        inquiry_num,
      </if>
      <if test="biddingNum != null">
        bidding_num,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="isWin != null">
        is_win,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="purcSupplierTenderId != null">
        #{purcSupplierTenderId,jdbcType=INTEGER},
      </if>
      <if test="tenderPurchaseId != null">
        #{tenderPurchaseId,jdbcType=INTEGER},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="tenderType != null">
        #{tenderType,jdbcType=VARCHAR},
      </if>
      <if test="tenderId != null">
        #{tenderId,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="inquiryNum != null">
        #{inquiryNum,jdbcType=INTEGER},
      </if>
      <if test="biddingNum != null">
        #{biddingNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isWin != null">
        #{isWin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.purchase.entity.SupplierTenderExample" resultType="java.lang.Long">
    select count(*) from purc_supplier_tender
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update purc_supplier_tender
    <set>
      <if test="record.purcSupplierTenderId != null">
        purc_supplier_tender_id = #{record.purcSupplierTenderId,jdbcType=INTEGER},
      </if>
      <if test="record.tenderPurchaseId != null">
        tender_purchase_id = #{record.tenderPurchaseId,jdbcType=INTEGER},
      </if>
      <if test="record.supplier != null">
        supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderType != null">
        tender_type = #{record.tenderType,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderId != null">
        tender_id = #{record.tenderId,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null">
        `rank` = #{record.rank,jdbcType=INTEGER},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=DECIMAL},
      </if>
      <if test="record.inquiryNum != null">
        inquiry_num = #{record.inquiryNum,jdbcType=INTEGER},
      </if>
      <if test="record.biddingNum != null">
        bidding_num = #{record.biddingNum,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.isWin != null">
        is_win = #{record.isWin,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update purc_supplier_tender
    set purc_supplier_tender_id = #{record.purcSupplierTenderId,jdbcType=INTEGER},
      tender_purchase_id = #{record.tenderPurchaseId,jdbcType=INTEGER},
      supplier = #{record.supplier,jdbcType=VARCHAR},
      tender_type = #{record.tenderType,jdbcType=VARCHAR},
      tender_id = #{record.tenderId,jdbcType=VARCHAR},
      `rank` = #{record.rank,jdbcType=INTEGER},
      total = #{record.total,jdbcType=DECIMAL},
      inquiry_num = #{record.inquiryNum,jdbcType=INTEGER},
      bidding_num = #{record.biddingNum,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      is_win = #{record.isWin,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.purchase.entity.SupplierTender">
    update purc_supplier_tender
    <set>
      <if test="tenderPurchaseId != null">
        tender_purchase_id = #{tenderPurchaseId,jdbcType=INTEGER},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="tenderType != null">
        tender_type = #{tenderType,jdbcType=VARCHAR},
      </if>
      <if test="tenderId != null">
        tender_id = #{tenderId,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        `rank` = #{rank,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="inquiryNum != null">
        inquiry_num = #{inquiryNum,jdbcType=INTEGER},
      </if>
      <if test="biddingNum != null">
        bidding_num = #{biddingNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isWin != null">
        is_win = #{isWin,jdbcType=VARCHAR},
      </if>
    </set>
    where purc_supplier_tender_id = #{purcSupplierTenderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.purchase.entity.SupplierTender">
    update purc_supplier_tender
    set tender_purchase_id = #{tenderPurchaseId,jdbcType=INTEGER},
      supplier = #{supplier,jdbcType=VARCHAR},
      tender_type = #{tenderType,jdbcType=VARCHAR},
      tender_id = #{tenderId,jdbcType=VARCHAR},
      `rank` = #{rank,jdbcType=INTEGER},
      total = #{total,jdbcType=DECIMAL},
      inquiry_num = #{inquiryNum,jdbcType=INTEGER},
      bidding_num = #{biddingNum,jdbcType=INTEGER},
      `status` = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      is_win = #{isWin,jdbcType=VARCHAR}
    where purc_supplier_tender_id = #{purcSupplierTenderId,jdbcType=INTEGER}
  </update>
</mapper>