<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.EntrustMaterialMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.EntrustMaterial">
    <id column="ware_entrusted_processing_material_id" jdbcType="INTEGER" property="wareEntrustedProcessingMaterialId" />
    <result column="entrusted_processing_id" jdbcType="INTEGER" property="entrustedProcessingId" />
    <result column="spare_parts" jdbcType="VARCHAR" property="spareParts" />
    <result column="warehouse_type" jdbcType="VARCHAR" property="warehouseType" />
    <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="stockout_status" jdbcType="VARCHAR" property="stockoutStatus" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="processing_num" jdbcType="DOUBLE" property="processingNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="spare_parts_batch" jdbcType="VARCHAR" property="sparePartsBatch" />
    <result column="in_batch" jdbcType="VARCHAR" property="inBatch" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_entrusted_processing_material_id, entrusted_processing_id, spare_parts, warehouse_type, 
    warehouse, company, stockout_status, price, processing_num, remark, is_del, create_time, 
    create_user, update_time, update_user, spare_parts_batch, in_batch
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.EntrustMaterialExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_entrusted_processing_material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_entrusted_processing_material
    where ware_entrusted_processing_material_id = #{wareEntrustedProcessingMaterialId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_entrusted_processing_material
    where ware_entrusted_processing_material_id = #{wareEntrustedProcessingMaterialId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.EntrustMaterialExample">
    delete from ware_entrusted_processing_material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.EntrustMaterial">
    insert into ware_entrusted_processing_material (ware_entrusted_processing_material_id, entrusted_processing_id, 
      spare_parts, warehouse_type, warehouse, 
      company, stockout_status, price, 
      processing_num, remark, is_del, 
      create_time, create_user, update_time, 
      update_user, spare_parts_batch, in_batch
      )
    values (#{wareEntrustedProcessingMaterialId,jdbcType=INTEGER}, #{entrustedProcessingId,jdbcType=INTEGER}, 
      #{spareParts,jdbcType=VARCHAR}, #{warehouseType,jdbcType=VARCHAR}, #{warehouse,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{stockoutStatus,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{processingNum,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=INTEGER}, #{sparePartsBatch,jdbcType=VARCHAR}, #{inBatch,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.EntrustMaterial">
    insert into ware_entrusted_processing_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareEntrustedProcessingMaterialId != null">
        ware_entrusted_processing_material_id,
      </if>
      <if test="entrustedProcessingId != null">
        entrusted_processing_id,
      </if>
      <if test="spareParts != null">
        spare_parts,
      </if>
      <if test="warehouseType != null">
        warehouse_type,
      </if>
      <if test="warehouse != null">
        warehouse,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="stockoutStatus != null">
        stockout_status,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="processingNum != null">
        processing_num,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="sparePartsBatch != null">
        spare_parts_batch,
      </if>
      <if test="inBatch != null">
        in_batch,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareEntrustedProcessingMaterialId != null">
        #{wareEntrustedProcessingMaterialId,jdbcType=INTEGER},
      </if>
      <if test="entrustedProcessingId != null">
        #{entrustedProcessingId,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null">
        #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="warehouse != null">
        #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="stockoutStatus != null">
        #{stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="processingNum != null">
        #{processingNum,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="sparePartsBatch != null">
        #{sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="inBatch != null">
        #{inBatch,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.EntrustMaterialExample" resultType="java.lang.Long">
    select count(*) from ware_entrusted_processing_material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_entrusted_processing_material
    <set>
      <if test="record.wareEntrustedProcessingMaterialId != null">
        ware_entrusted_processing_material_id = #{record.wareEntrustedProcessingMaterialId,jdbcType=INTEGER},
      </if>
      <if test="record.entrustedProcessingId != null">
        entrusted_processing_id = #{record.entrustedProcessingId,jdbcType=INTEGER},
      </if>
      <if test="record.spareParts != null">
        spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseType != null">
        warehouse_type = #{record.warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouse != null">
        warehouse = #{record.warehouse,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.stockoutStatus != null">
        stockout_status = #{record.stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.processingNum != null">
        processing_num = #{record.processingNum,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.sparePartsBatch != null">
        spare_parts_batch = #{record.sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.inBatch != null">
        in_batch = #{record.inBatch,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_entrusted_processing_material
    set ware_entrusted_processing_material_id = #{record.wareEntrustedProcessingMaterialId,jdbcType=INTEGER},
      entrusted_processing_id = #{record.entrustedProcessingId,jdbcType=INTEGER},
      spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      warehouse_type = #{record.warehouseType,jdbcType=VARCHAR},
      warehouse = #{record.warehouse,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      stockout_status = #{record.stockoutStatus,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      processing_num = #{record.processingNum,jdbcType=DOUBLE},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      spare_parts_batch = #{record.sparePartsBatch,jdbcType=VARCHAR},
      in_batch = #{record.inBatch,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.EntrustMaterial">
    update ware_entrusted_processing_material
    <set>
      <if test="entrustedProcessingId != null">
        entrusted_processing_id = #{entrustedProcessingId,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        spare_parts = #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null">
        warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="warehouse != null">
        warehouse = #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="stockoutStatus != null">
        stockout_status = #{stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="processingNum != null">
        processing_num = #{processingNum,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="sparePartsBatch != null">
        spare_parts_batch = #{sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="inBatch != null">
        in_batch = #{inBatch,jdbcType=VARCHAR},
      </if>
    </set>
    where ware_entrusted_processing_material_id = #{wareEntrustedProcessingMaterialId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.EntrustMaterial">
    update ware_entrusted_processing_material
    set entrusted_processing_id = #{entrustedProcessingId,jdbcType=INTEGER},
      spare_parts = #{spareParts,jdbcType=VARCHAR},
      warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      warehouse = #{warehouse,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      stockout_status = #{stockoutStatus,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      processing_num = #{processingNum,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      spare_parts_batch = #{sparePartsBatch,jdbcType=VARCHAR},
      in_batch = #{inBatch,jdbcType=VARCHAR}
    where ware_entrusted_processing_material_id = #{wareEntrustedProcessingMaterialId,jdbcType=INTEGER}
  </update>
</mapper>