<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareDebitSlipDetailMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareDebitSlipDetail">
    <id column="ware_debit_slip_detail_id" jdbcType="INTEGER" property="wareDebitSlipDetailId" />
    <result column="ware_debit_slip" jdbcType="INTEGER" property="wareDebitSlip" />
    <result column="spare_parts_categories" jdbcType="VARCHAR" property="sparePartsCategories" />
    <result column="spare_parts" jdbcType="VARCHAR" property="spareParts" />
    <result column="warehouse_type" jdbcType="VARCHAR" property="warehouseType" />
    <result column="borrow_num" jdbcType="DOUBLE" property="borrowNum" />
    <result column="return_num" jdbcType="DOUBLE" property="returnNum" />
    <result column="upper_container_num" jdbcType="DOUBLE" property="upperContainerNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_debit_slip_detail_id, ware_debit_slip, spare_parts_categories, spare_parts, 
    warehouse_type, borrow_num, return_num, upper_container_num, remark, is_del, create_time, 
    create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareDebitSlipDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_debit_slip_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_debit_slip_detail
    where ware_debit_slip_detail_id = #{wareDebitSlipDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_debit_slip_detail
    where ware_debit_slip_detail_id = #{wareDebitSlipDetailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareDebitSlipDetailExample">
    delete from ware_debit_slip_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareDebitSlipDetail">
    insert into ware_debit_slip_detail (ware_debit_slip_detail_id, ware_debit_slip, 
      spare_parts_categories, spare_parts, warehouse_type, 
      borrow_num, return_num, upper_container_num, 
      remark, is_del, create_time, 
      create_user, update_time, update_user
      )
    values (#{wareDebitSlipDetailId,jdbcType=INTEGER}, #{wareDebitSlip,jdbcType=INTEGER}, 
      #{sparePartsCategories,jdbcType=VARCHAR}, #{spareParts,jdbcType=VARCHAR}, #{warehouseType,jdbcType=VARCHAR}, 
      #{borrowNum,jdbcType=DOUBLE}, #{returnNum,jdbcType=DOUBLE}, #{upperContainerNum,jdbcType=DOUBLE}, 
      #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareDebitSlipDetail">
    insert into ware_debit_slip_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareDebitSlipDetailId != null">
        ware_debit_slip_detail_id,
      </if>
      <if test="wareDebitSlip != null">
        ware_debit_slip,
      </if>
      <if test="sparePartsCategories != null">
        spare_parts_categories,
      </if>
      <if test="spareParts != null">
        spare_parts,
      </if>
      <if test="warehouseType != null">
        warehouse_type,
      </if>
      <if test="borrowNum != null">
        borrow_num,
      </if>
      <if test="returnNum != null">
        return_num,
      </if>
      <if test="upperContainerNum != null">
        upper_container_num,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareDebitSlipDetailId != null">
        #{wareDebitSlipDetailId,jdbcType=INTEGER},
      </if>
      <if test="wareDebitSlip != null">
        #{wareDebitSlip,jdbcType=INTEGER},
      </if>
      <if test="sparePartsCategories != null">
        #{sparePartsCategories,jdbcType=VARCHAR},
      </if>
      <if test="spareParts != null">
        #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null">
        #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="borrowNum != null">
        #{borrowNum,jdbcType=DOUBLE},
      </if>
      <if test="returnNum != null">
        #{returnNum,jdbcType=DOUBLE},
      </if>
      <if test="upperContainerNum != null">
        #{upperContainerNum,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareDebitSlipDetailExample" resultType="java.lang.Long">
    select count(*) from ware_debit_slip_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_debit_slip_detail
    <set>
      <if test="record.wareDebitSlipDetailId != null">
        ware_debit_slip_detail_id = #{record.wareDebitSlipDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.wareDebitSlip != null">
        ware_debit_slip = #{record.wareDebitSlip,jdbcType=INTEGER},
      </if>
      <if test="record.sparePartsCategories != null">
        spare_parts_categories = #{record.sparePartsCategories,jdbcType=VARCHAR},
      </if>
      <if test="record.spareParts != null">
        spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseType != null">
        warehouse_type = #{record.warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowNum != null">
        borrow_num = #{record.borrowNum,jdbcType=DOUBLE},
      </if>
      <if test="record.returnNum != null">
        return_num = #{record.returnNum,jdbcType=DOUBLE},
      </if>
      <if test="record.upperContainerNum != null">
        upper_container_num = #{record.upperContainerNum,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_debit_slip_detail
    set ware_debit_slip_detail_id = #{record.wareDebitSlipDetailId,jdbcType=INTEGER},
      ware_debit_slip = #{record.wareDebitSlip,jdbcType=INTEGER},
      spare_parts_categories = #{record.sparePartsCategories,jdbcType=VARCHAR},
      spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      warehouse_type = #{record.warehouseType,jdbcType=VARCHAR},
      borrow_num = #{record.borrowNum,jdbcType=DOUBLE},
      return_num = #{record.returnNum,jdbcType=DOUBLE},
      upper_container_num = #{record.upperContainerNum,jdbcType=DOUBLE},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareDebitSlipDetail">
    update ware_debit_slip_detail
    <set>
      <if test="wareDebitSlip != null">
        ware_debit_slip = #{wareDebitSlip,jdbcType=INTEGER},
      </if>
      <if test="sparePartsCategories != null">
        spare_parts_categories = #{sparePartsCategories,jdbcType=VARCHAR},
      </if>
      <if test="spareParts != null">
        spare_parts = #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null">
        warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="borrowNum != null">
        borrow_num = #{borrowNum,jdbcType=DOUBLE},
      </if>
      <if test="returnNum != null">
        return_num = #{returnNum,jdbcType=DOUBLE},
      </if>
      <if test="upperContainerNum != null">
        upper_container_num = #{upperContainerNum,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where ware_debit_slip_detail_id = #{wareDebitSlipDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareDebitSlipDetail">
    update ware_debit_slip_detail
    set ware_debit_slip = #{wareDebitSlip,jdbcType=INTEGER},
      spare_parts_categories = #{sparePartsCategories,jdbcType=VARCHAR},
      spare_parts = #{spareParts,jdbcType=VARCHAR},
      warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      borrow_num = #{borrowNum,jdbcType=DOUBLE},
      return_num = #{returnNum,jdbcType=DOUBLE},
      upper_container_num = #{upperContainerNum,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where ware_debit_slip_detail_id = #{wareDebitSlipDetailId,jdbcType=INTEGER}
  </update>
</mapper>