<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareSurplusLossesDetailMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareSurplusLossesDetail">
    <id column="ware_surplus_bill_detail_id" jdbcType="INTEGER" property="wareSurplusBillDetailId" />
    <result column="ware_surplus_losses" jdbcType="INTEGER" property="wareSurplusLosses" />
    <result column="spare_parts" jdbcType="VARCHAR" property="spareParts" />
    <result column="spare_parts_batch" jdbcType="VARCHAR" property="sparePartsBatch" />
    <result column="warehouse_type" jdbcType="VARCHAR" property="warehouseType" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="num" jdbcType="DECIMAL" property="num" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="storage_location" jdbcType="VARCHAR" property="storageLocation" />
    <result column="company" jdbcType="VARCHAR" property="company" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_surplus_bill_detail_id, ware_surplus_losses, spare_parts, spare_parts_batch, 
    warehouse_type, price, num, amount, remark, is_del, create_time, create_user, update_time, 
    update_user, storage_location, company
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareSurplusLossesDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_surplus_losses_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_surplus_losses_detail
    where ware_surplus_bill_detail_id = #{wareSurplusBillDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_surplus_losses_detail
    where ware_surplus_bill_detail_id = #{wareSurplusBillDetailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareSurplusLossesDetailExample">
    delete from ware_surplus_losses_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareSurplusLossesDetail">
    insert into ware_surplus_losses_detail (ware_surplus_bill_detail_id, ware_surplus_losses, 
      spare_parts, spare_parts_batch, warehouse_type, 
      price, num, amount, 
      remark, is_del, create_time, 
      create_user, update_time, update_user, 
      storage_location, company)
    values (#{wareSurplusBillDetailId,jdbcType=INTEGER}, #{wareSurplusLosses,jdbcType=INTEGER}, 
      #{spareParts,jdbcType=VARCHAR}, #{sparePartsBatch,jdbcType=VARCHAR}, #{warehouseType,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{num,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{storageLocation,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareSurplusLossesDetail">
    insert into ware_surplus_losses_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareSurplusBillDetailId != null">
        ware_surplus_bill_detail_id,
      </if>
      <if test="wareSurplusLosses != null">
        ware_surplus_losses,
      </if>
      <if test="spareParts != null">
        spare_parts,
      </if>
      <if test="sparePartsBatch != null">
        spare_parts_batch,
      </if>
      <if test="warehouseType != null">
        warehouse_type,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="storageLocation != null">
        storage_location,
      </if>
      <if test="company != null">
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareSurplusBillDetailId != null">
        #{wareSurplusBillDetailId,jdbcType=INTEGER},
      </if>
      <if test="wareSurplusLosses != null">
        #{wareSurplusLosses,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="sparePartsBatch != null">
        #{sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null">
        #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="storageLocation != null">
        #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareSurplusLossesDetailExample" resultType="java.lang.Long">
    select count(*) from ware_surplus_losses_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_surplus_losses_detail
    <set>
      <if test="record.wareSurplusBillDetailId != null">
        ware_surplus_bill_detail_id = #{record.wareSurplusBillDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.wareSurplusLosses != null">
        ware_surplus_losses = #{record.wareSurplusLosses,jdbcType=INTEGER},
      </if>
      <if test="record.spareParts != null">
        spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      </if>
      <if test="record.sparePartsBatch != null">
        spare_parts_batch = #{record.sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseType != null">
        warehouse_type = #{record.warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.storageLocation != null">
        storage_location = #{record.storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_surplus_losses_detail
    set ware_surplus_bill_detail_id = #{record.wareSurplusBillDetailId,jdbcType=INTEGER},
      ware_surplus_losses = #{record.wareSurplusLosses,jdbcType=INTEGER},
      spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      spare_parts_batch = #{record.sparePartsBatch,jdbcType=VARCHAR},
      warehouse_type = #{record.warehouseType,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      num = #{record.num,jdbcType=DECIMAL},
      amount = #{record.amount,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      storage_location = #{record.storageLocation,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareSurplusLossesDetail">
    update ware_surplus_losses_detail
    <set>
      <if test="wareSurplusLosses != null">
        ware_surplus_losses = #{wareSurplusLosses,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        spare_parts = #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="sparePartsBatch != null">
        spare_parts_batch = #{sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="warehouseType != null">
        warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="storageLocation != null">
        storage_location = #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
    </set>
    where ware_surplus_bill_detail_id = #{wareSurplusBillDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareSurplusLossesDetail">
    update ware_surplus_losses_detail
    set ware_surplus_losses = #{wareSurplusLosses,jdbcType=INTEGER},
      spare_parts = #{spareParts,jdbcType=VARCHAR},
      spare_parts_batch = #{sparePartsBatch,jdbcType=VARCHAR},
      warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      num = #{num,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      storage_location = #{storageLocation,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR}
    where ware_surplus_bill_detail_id = #{wareSurplusBillDetailId,jdbcType=INTEGER}
  </update>
</mapper>