<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WarePurchaseOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WarePurchaseOrderDetail">
    <id column="ware_purchase_order_detail_id" jdbcType="INTEGER" property="warePurchaseOrderDetailId" />
    <result column="ware_purchase_order_id" jdbcType="INTEGER" property="warePurchaseOrderId" />
    <result column="stockout_status" jdbcType="VARCHAR" property="stockoutStatus" />
    <result column="stockin_status" jdbcType="VARCHAR" property="stockinStatus" />
    <result column="spare_parts" jdbcType="VARCHAR" property="spareParts" />
    <result column="num" jdbcType="DOUBLE" property="num" />
    <result column="surplus_num" jdbcType="DOUBLE" property="surplusNum" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="out_warehouse" jdbcType="VARCHAR" property="outWarehouse" />
    <result column="is_finish" jdbcType="VARCHAR" property="isFinish" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_purchase_order_detail_id, ware_purchase_order_id, stockout_status, stockin_status, 
    spare_parts, num, surplus_num, freight, price, total_amount, company, out_warehouse, 
    is_finish, remark, is_del, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WarePurchaseOrderDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_purchase_order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_purchase_order_detail
    where ware_purchase_order_detail_id = #{warePurchaseOrderDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_purchase_order_detail
    where ware_purchase_order_detail_id = #{warePurchaseOrderDetailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WarePurchaseOrderDetailExample">
    delete from ware_purchase_order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WarePurchaseOrderDetail">
    insert into ware_purchase_order_detail (ware_purchase_order_detail_id, ware_purchase_order_id, 
      stockout_status, stockin_status, spare_parts, 
      num, surplus_num, freight, 
      price, total_amount, company, 
      out_warehouse, is_finish, remark, 
      is_del, create_time, create_user, 
      update_time, update_user)
    values (#{warePurchaseOrderDetailId,jdbcType=INTEGER}, #{warePurchaseOrderId,jdbcType=INTEGER}, 
      #{stockoutStatus,jdbcType=VARCHAR}, #{stockinStatus,jdbcType=VARCHAR}, #{spareParts,jdbcType=VARCHAR}, 
      #{num,jdbcType=DOUBLE}, #{surplusNum,jdbcType=DOUBLE}, #{freight,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL}, #{company,jdbcType=VARCHAR}, 
      #{outWarehouse,jdbcType=VARCHAR}, #{isFinish,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WarePurchaseOrderDetail">
    insert into ware_purchase_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="warePurchaseOrderDetailId != null">
        ware_purchase_order_detail_id,
      </if>
      <if test="warePurchaseOrderId != null">
        ware_purchase_order_id,
      </if>
      <if test="stockoutStatus != null">
        stockout_status,
      </if>
      <if test="stockinStatus != null">
        stockin_status,
      </if>
      <if test="spareParts != null">
        spare_parts,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="surplusNum != null">
        surplus_num,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="outWarehouse != null">
        out_warehouse,
      </if>
      <if test="isFinish != null">
        is_finish,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="warePurchaseOrderDetailId != null">
        #{warePurchaseOrderDetailId,jdbcType=INTEGER},
      </if>
      <if test="warePurchaseOrderId != null">
        #{warePurchaseOrderId,jdbcType=INTEGER},
      </if>
      <if test="stockoutStatus != null">
        #{stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="stockinStatus != null">
        #{stockinStatus,jdbcType=VARCHAR},
      </if>
      <if test="spareParts != null">
        #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=DOUBLE},
      </if>
      <if test="surplusNum != null">
        #{surplusNum,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouse != null">
        #{outWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="isFinish != null">
        #{isFinish,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WarePurchaseOrderDetailExample" resultType="java.lang.Long">
    select count(*) from ware_purchase_order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_purchase_order_detail
    <set>
      <if test="record.warePurchaseOrderDetailId != null">
        ware_purchase_order_detail_id = #{record.warePurchaseOrderDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.warePurchaseOrderId != null">
        ware_purchase_order_id = #{record.warePurchaseOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.stockoutStatus != null">
        stockout_status = #{record.stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.stockinStatus != null">
        stockin_status = #{record.stockinStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.spareParts != null">
        spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=DOUBLE},
      </if>
      <if test="record.surplusNum != null">
        surplus_num = #{record.surplusNum,jdbcType=DOUBLE},
      </if>
      <if test="record.freight != null">
        freight = #{record.freight,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.totalAmount != null">
        total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.outWarehouse != null">
        out_warehouse = #{record.outWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="record.isFinish != null">
        is_finish = #{record.isFinish,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_purchase_order_detail
    set ware_purchase_order_detail_id = #{record.warePurchaseOrderDetailId,jdbcType=INTEGER},
      ware_purchase_order_id = #{record.warePurchaseOrderId,jdbcType=INTEGER},
      stockout_status = #{record.stockoutStatus,jdbcType=VARCHAR},
      stockin_status = #{record.stockinStatus,jdbcType=VARCHAR},
      spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=DOUBLE},
      surplus_num = #{record.surplusNum,jdbcType=DOUBLE},
      freight = #{record.freight,jdbcType=DECIMAL},
      price = #{record.price,jdbcType=DECIMAL},
      total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      company = #{record.company,jdbcType=VARCHAR},
      out_warehouse = #{record.outWarehouse,jdbcType=VARCHAR},
      is_finish = #{record.isFinish,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WarePurchaseOrderDetail">
    update ware_purchase_order_detail
    <set>
      <if test="warePurchaseOrderId != null">
        ware_purchase_order_id = #{warePurchaseOrderId,jdbcType=INTEGER},
      </if>
      <if test="stockoutStatus != null">
        stockout_status = #{stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="stockinStatus != null">
        stockin_status = #{stockinStatus,jdbcType=VARCHAR},
      </if>
      <if test="spareParts != null">
        spare_parts = #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DOUBLE},
      </if>
      <if test="surplusNum != null">
        surplus_num = #{surplusNum,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouse != null">
        out_warehouse = #{outWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="isFinish != null">
        is_finish = #{isFinish,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where ware_purchase_order_detail_id = #{warePurchaseOrderDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WarePurchaseOrderDetail">
    update ware_purchase_order_detail
    set ware_purchase_order_id = #{warePurchaseOrderId,jdbcType=INTEGER},
      stockout_status = #{stockoutStatus,jdbcType=VARCHAR},
      stockin_status = #{stockinStatus,jdbcType=VARCHAR},
      spare_parts = #{spareParts,jdbcType=VARCHAR},
      num = #{num,jdbcType=DOUBLE},
      surplus_num = #{surplusNum,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      company = #{company,jdbcType=VARCHAR},
      out_warehouse = #{outWarehouse,jdbcType=VARCHAR},
      is_finish = #{isFinish,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where ware_purchase_order_detail_id = #{warePurchaseOrderDetailId,jdbcType=INTEGER}
  </update>
</mapper>