<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareStockoutApplyMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareStockoutApply">
    <id column="ware_stockout_apply_id" jdbcType="INTEGER" property="wareStockoutApplyId" />
    <result column="stockout_apply_no" jdbcType="VARCHAR" property="stockoutApplyNo" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
    <result column="stockout_status" jdbcType="VARCHAR" property="stockoutStatus" />
    <result column="receive_department" jdbcType="VARCHAR" property="receiveDepartment" />
    <result column="receive_user" jdbcType="INTEGER" property="receiveUser" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="reasons_rejection" jdbcType="VARCHAR" property="reasonsRejection" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="warehouse_type" jdbcType="VARCHAR" property="warehouseType" />
    <result column="container_no" jdbcType="VARCHAR" property="containerNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_stockout_apply_id, stockout_apply_no, `no`, company, warehouse, bill_type, stockout_status, 
    receive_department, receive_user, `status`, audit_status, reasons_rejection, is_del, 
    create_time, create_user, update_time, update_user, warehouse_type, container_no
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareStockoutApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_stockout_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_stockout_apply
    where ware_stockout_apply_id = #{wareStockoutApplyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_stockout_apply
    where ware_stockout_apply_id = #{wareStockoutApplyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareStockoutApplyExample">
    delete from ware_stockout_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareStockoutApply">
    <selectKey keyProperty="wareStockoutApplyId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ware_stockout_apply (stockout_apply_no, `no`, company, 
      warehouse, bill_type, stockout_status, 
      receive_department, receive_user, `status`, 
      audit_status, reasons_rejection, is_del, 
      create_time, create_user, update_time, 
      update_user, warehouse_type, container_no
      )
    values (#{stockoutApplyNo,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{warehouse,jdbcType=VARCHAR}, #{billType,jdbcType=VARCHAR}, #{stockoutStatus,jdbcType=VARCHAR}, 
      #{receiveDepartment,jdbcType=VARCHAR}, #{receiveUser,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{auditStatus,jdbcType=VARCHAR}, #{reasonsRejection,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=INTEGER}, #{warehouseType,jdbcType=VARCHAR}, #{containerNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareStockoutApply">
    <selectKey keyProperty="wareStockoutApplyId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ware_stockout_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockoutApplyNo != null">
        stockout_apply_no,
      </if>
      <if test="no != null">
        `no`,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="warehouse != null">
        warehouse,
      </if>
      <if test="billType != null">
        bill_type,
      </if>
      <if test="stockoutStatus != null">
        stockout_status,
      </if>
      <if test="receiveDepartment != null">
        receive_department,
      </if>
      <if test="receiveUser != null">
        receive_user,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="reasonsRejection != null">
        reasons_rejection,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="warehouseType != null">
        warehouse_type,
      </if>
      <if test="containerNo != null">
        container_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockoutApplyNo != null">
        #{stockoutApplyNo,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="warehouse != null">
        #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        #{billType,jdbcType=VARCHAR},
      </if>
      <if test="stockoutStatus != null">
        #{stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="receiveDepartment != null">
        #{receiveDepartment,jdbcType=VARCHAR},
      </if>
      <if test="receiveUser != null">
        #{receiveUser,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="reasonsRejection != null">
        #{reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="warehouseType != null">
        #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="containerNo != null">
        #{containerNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareStockoutApplyExample" resultType="java.lang.Long">
    select count(*) from ware_stockout_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_stockout_apply
    <set>
      <if test="record.wareStockoutApplyId != null">
        ware_stockout_apply_id = #{record.wareStockoutApplyId,jdbcType=INTEGER},
      </if>
      <if test="record.stockoutApplyNo != null">
        stockout_apply_no = #{record.stockoutApplyNo,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null">
        `no` = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouse != null">
        warehouse = #{record.warehouse,jdbcType=VARCHAR},
      </if>
      <if test="record.billType != null">
        bill_type = #{record.billType,jdbcType=VARCHAR},
      </if>
      <if test="record.stockoutStatus != null">
        stockout_status = #{record.stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveDepartment != null">
        receive_department = #{record.receiveDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveUser != null">
        receive_user = #{record.receiveUser,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatus != null">
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.reasonsRejection != null">
        reasons_rejection = #{record.reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.warehouseType != null">
        warehouse_type = #{record.warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="record.containerNo != null">
        container_no = #{record.containerNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_stockout_apply
    set ware_stockout_apply_id = #{record.wareStockoutApplyId,jdbcType=INTEGER},
      stockout_apply_no = #{record.stockoutApplyNo,jdbcType=VARCHAR},
      `no` = #{record.no,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      warehouse = #{record.warehouse,jdbcType=VARCHAR},
      bill_type = #{record.billType,jdbcType=VARCHAR},
      stockout_status = #{record.stockoutStatus,jdbcType=VARCHAR},
      receive_department = #{record.receiveDepartment,jdbcType=VARCHAR},
      receive_user = #{record.receiveUser,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=VARCHAR},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      reasons_rejection = #{record.reasonsRejection,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      warehouse_type = #{record.warehouseType,jdbcType=VARCHAR},
      container_no = #{record.containerNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareStockoutApply">
    update ware_stockout_apply
    <set>
      <if test="stockoutApplyNo != null">
        stockout_apply_no = #{stockoutApplyNo,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        `no` = #{no,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="warehouse != null">
        warehouse = #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
      <if test="stockoutStatus != null">
        stockout_status = #{stockoutStatus,jdbcType=VARCHAR},
      </if>
      <if test="receiveDepartment != null">
        receive_department = #{receiveDepartment,jdbcType=VARCHAR},
      </if>
      <if test="receiveUser != null">
        receive_user = #{receiveUser,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="reasonsRejection != null">
        reasons_rejection = #{reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="warehouseType != null">
        warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      </if>
      <if test="containerNo != null">
        container_no = #{containerNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ware_stockout_apply_id = #{wareStockoutApplyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareStockoutApply">
    update ware_stockout_apply
    set stockout_apply_no = #{stockoutApplyNo,jdbcType=VARCHAR},
      `no` = #{no,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      warehouse = #{warehouse,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=VARCHAR},
      stockout_status = #{stockoutStatus,jdbcType=VARCHAR},
      receive_department = #{receiveDepartment,jdbcType=VARCHAR},
      receive_user = #{receiveUser,jdbcType=INTEGER},
      `status` = #{status,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      reasons_rejection = #{reasonsRejection,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      container_no = #{containerNo,jdbcType=VARCHAR}
    where ware_stockout_apply_id = #{wareStockoutApplyId,jdbcType=INTEGER}
  </update>
</mapper>