<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareReturnWarehouseDetailLaborMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareReturnWarehouseDetailLabor">
    <id column="ware_return_warehouse_detail_labor_id" jdbcType="INTEGER" property="wareReturnWarehouseDetailLaborId" />
    <result column="return_id" jdbcType="INTEGER" property="returnId" />
    <result column="return_date" jdbcType="TIMESTAMP" property="returnDate" />
    <result column="operator" jdbcType="INTEGER" property="operator" />
    <result column="spare_parts" jdbcType="VARCHAR" property="spareParts" />
    <result column="spare_parts_batch" jdbcType="VARCHAR" property="sparePartsBatch" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="return_num" jdbcType="DOUBLE" property="returnNum" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="stockout_detail_id" jdbcType="INTEGER" property="stockoutDetailId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_return_warehouse_detail_labor_id, return_id, return_date, `operator`, spare_parts, 
    spare_parts_batch, model, return_num, is_del, create_time, create_user, update_time, 
    update_user, stockout_detail_id
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareReturnWarehouseDetailLaborExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_return_warehouse_detail_labor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_return_warehouse_detail_labor
    where ware_return_warehouse_detail_labor_id = #{wareReturnWarehouseDetailLaborId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_return_warehouse_detail_labor
    where ware_return_warehouse_detail_labor_id = #{wareReturnWarehouseDetailLaborId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareReturnWarehouseDetailLaborExample">
    delete from ware_return_warehouse_detail_labor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareReturnWarehouseDetailLabor">
    insert into ware_return_warehouse_detail_labor (ware_return_warehouse_detail_labor_id, return_id, 
      return_date, `operator`, spare_parts, 
      spare_parts_batch, model, return_num, 
      is_del, create_time, create_user, 
      update_time, update_user, stockout_detail_id
      )
    values (#{wareReturnWarehouseDetailLaborId,jdbcType=INTEGER}, #{returnId,jdbcType=INTEGER}, 
      #{returnDate,jdbcType=TIMESTAMP}, #{operator,jdbcType=INTEGER}, #{spareParts,jdbcType=VARCHAR}, 
      #{sparePartsBatch,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{returnNum,jdbcType=DOUBLE}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, #{stockoutDetailId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareReturnWarehouseDetailLabor">
    insert into ware_return_warehouse_detail_labor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareReturnWarehouseDetailLaborId != null">
        ware_return_warehouse_detail_labor_id,
      </if>
      <if test="returnId != null">
        return_id,
      </if>
      <if test="returnDate != null">
        return_date,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
      <if test="spareParts != null">
        spare_parts,
      </if>
      <if test="sparePartsBatch != null">
        spare_parts_batch,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="returnNum != null">
        return_num,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="stockoutDetailId != null">
        stockout_detail_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareReturnWarehouseDetailLaborId != null">
        #{wareReturnWarehouseDetailLaborId,jdbcType=INTEGER},
      </if>
      <if test="returnId != null">
        #{returnId,jdbcType=INTEGER},
      </if>
      <if test="returnDate != null">
        #{returnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="sparePartsBatch != null">
        #{sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="returnNum != null">
        #{returnNum,jdbcType=DOUBLE},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="stockoutDetailId != null">
        #{stockoutDetailId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareReturnWarehouseDetailLaborExample" resultType="java.lang.Long">
    select count(*) from ware_return_warehouse_detail_labor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_return_warehouse_detail_labor
    <set>
      <if test="record.wareReturnWarehouseDetailLaborId != null">
        ware_return_warehouse_detail_labor_id = #{record.wareReturnWarehouseDetailLaborId,jdbcType=INTEGER},
      </if>
      <if test="record.returnId != null">
        return_id = #{record.returnId,jdbcType=INTEGER},
      </if>
      <if test="record.returnDate != null">
        return_date = #{record.returnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null">
        `operator` = #{record.operator,jdbcType=INTEGER},
      </if>
      <if test="record.spareParts != null">
        spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      </if>
      <if test="record.sparePartsBatch != null">
        spare_parts_batch = #{record.sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.returnNum != null">
        return_num = #{record.returnNum,jdbcType=DOUBLE},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.stockoutDetailId != null">
        stockout_detail_id = #{record.stockoutDetailId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_return_warehouse_detail_labor
    set ware_return_warehouse_detail_labor_id = #{record.wareReturnWarehouseDetailLaborId,jdbcType=INTEGER},
      return_id = #{record.returnId,jdbcType=INTEGER},
      return_date = #{record.returnDate,jdbcType=TIMESTAMP},
      `operator` = #{record.operator,jdbcType=INTEGER},
      spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      spare_parts_batch = #{record.sparePartsBatch,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      return_num = #{record.returnNum,jdbcType=DOUBLE},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      stockout_detail_id = #{record.stockoutDetailId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareReturnWarehouseDetailLabor">
    update ware_return_warehouse_detail_labor
    <set>
      <if test="returnId != null">
        return_id = #{returnId,jdbcType=INTEGER},
      </if>
      <if test="returnDate != null">
        return_date = #{returnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        spare_parts = #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="sparePartsBatch != null">
        spare_parts_batch = #{sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="returnNum != null">
        return_num = #{returnNum,jdbcType=DOUBLE},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="stockoutDetailId != null">
        stockout_detail_id = #{stockoutDetailId,jdbcType=INTEGER},
      </if>
    </set>
    where ware_return_warehouse_detail_labor_id = #{wareReturnWarehouseDetailLaborId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareReturnWarehouseDetailLabor">
    update ware_return_warehouse_detail_labor
    set return_id = #{returnId,jdbcType=INTEGER},
      return_date = #{returnDate,jdbcType=TIMESTAMP},
      `operator` = #{operator,jdbcType=INTEGER},
      spare_parts = #{spareParts,jdbcType=VARCHAR},
      spare_parts_batch = #{sparePartsBatch,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      return_num = #{returnNum,jdbcType=DOUBLE},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      stockout_detail_id = #{stockoutDetailId,jdbcType=INTEGER}
    where ware_return_warehouse_detail_labor_id = #{wareReturnWarehouseDetailLaborId,jdbcType=INTEGER}
  </update>
</mapper>