<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareWasteWarehouseMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareWasteWarehouse">
    <id column="ware_waste_warehouse_id" jdbcType="INTEGER" property="wareWasteWarehouseId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="container_no" jdbcType="VARCHAR" property="containerNo" />
    <result column="client" jdbcType="INTEGER" property="client" />
    <result column="use_container_user" jdbcType="INTEGER" property="useContainerUser" />
    <result column="return_yard" jdbcType="VARCHAR" property="returnYard" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="spare_parts" jdbcType="VARCHAR" property="spareParts" />
    <result column="spare_parts_batch" jdbcType="VARCHAR" property="sparePartsBatch" />
    <result column="stockin_type" jdbcType="VARCHAR" property="stockinType" />
    <result column="stockin_remark" jdbcType="VARCHAR" property="stockinRemark" />
    <result column="stockin_date" jdbcType="TIMESTAMP" property="stockinDate" />
    <result column="stockin_num" jdbcType="DOUBLE" property="stockinNum" />
    <result column="old_price" jdbcType="DECIMAL" property="oldPrice" />
    <result column="dispose_no" jdbcType="VARCHAR" property="disposeNo" />
    <result column="waste_dispose_num" jdbcType="DOUBLE" property="wasteDisposeNum" />
    <result column="waste_dispose_date" jdbcType="TIMESTAMP" property="wasteDisposeDate" />
    <result column="waste_dispose_price" jdbcType="DECIMAL" property="wasteDisposePrice" />
    <result column="waste_user" jdbcType="INTEGER" property="wasteUser" />
    <result column="waste_remark" jdbcType="VARCHAR" property="wasteRemark" />
    <result column="waste_dispose_status" jdbcType="VARCHAR" property="wasteDisposeStatus" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="reasons_rejection" jdbcType="VARCHAR" property="reasonsRejection" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_waste_warehouse_id, `no`, container_no, client, use_container_user, return_yard, 
    company, spare_parts, spare_parts_batch, stockin_type, stockin_remark, stockin_date, 
    stockin_num, old_price, dispose_no, waste_dispose_num, waste_dispose_date, waste_dispose_price, 
    waste_user, waste_remark, waste_dispose_status, audit_status, reasons_rejection, 
    remark, is_del, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareWasteWarehouseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_waste_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_waste_warehouse
    where ware_waste_warehouse_id = #{wareWasteWarehouseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_waste_warehouse
    where ware_waste_warehouse_id = #{wareWasteWarehouseId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareWasteWarehouseExample">
    delete from ware_waste_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareWasteWarehouse">
    insert into ware_waste_warehouse (ware_waste_warehouse_id, `no`, container_no, 
      client, use_container_user, return_yard, 
      company, spare_parts, spare_parts_batch, 
      stockin_type, stockin_remark, stockin_date, 
      stockin_num, old_price, dispose_no, 
      waste_dispose_num, waste_dispose_date, waste_dispose_price, 
      waste_user, waste_remark, waste_dispose_status, 
      audit_status, reasons_rejection, remark, 
      is_del, create_time, create_user, 
      update_time, update_user)
    values (#{wareWasteWarehouseId,jdbcType=INTEGER}, #{no,jdbcType=VARCHAR}, #{containerNo,jdbcType=VARCHAR}, 
      #{client,jdbcType=INTEGER}, #{useContainerUser,jdbcType=INTEGER}, #{returnYard,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{spareParts,jdbcType=VARCHAR}, #{sparePartsBatch,jdbcType=VARCHAR}, 
      #{stockinType,jdbcType=VARCHAR}, #{stockinRemark,jdbcType=VARCHAR}, #{stockinDate,jdbcType=TIMESTAMP}, 
      #{stockinNum,jdbcType=DOUBLE}, #{oldPrice,jdbcType=DECIMAL}, #{disposeNo,jdbcType=VARCHAR}, 
      #{wasteDisposeNum,jdbcType=DOUBLE}, #{wasteDisposeDate,jdbcType=TIMESTAMP}, #{wasteDisposePrice,jdbcType=DECIMAL}, 
      #{wasteUser,jdbcType=INTEGER}, #{wasteRemark,jdbcType=VARCHAR}, #{wasteDisposeStatus,jdbcType=VARCHAR}, 
      #{auditStatus,jdbcType=VARCHAR}, #{reasonsRejection,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareWasteWarehouse">
    insert into ware_waste_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareWasteWarehouseId != null">
        ware_waste_warehouse_id,
      </if>
      <if test="no != null">
        `no`,
      </if>
      <if test="containerNo != null">
        container_no,
      </if>
      <if test="client != null">
        client,
      </if>
      <if test="useContainerUser != null">
        use_container_user,
      </if>
      <if test="returnYard != null">
        return_yard,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="spareParts != null">
        spare_parts,
      </if>
      <if test="sparePartsBatch != null">
        spare_parts_batch,
      </if>
      <if test="stockinType != null">
        stockin_type,
      </if>
      <if test="stockinRemark != null">
        stockin_remark,
      </if>
      <if test="stockinDate != null">
        stockin_date,
      </if>
      <if test="stockinNum != null">
        stockin_num,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="disposeNo != null">
        dispose_no,
      </if>
      <if test="wasteDisposeNum != null">
        waste_dispose_num,
      </if>
      <if test="wasteDisposeDate != null">
        waste_dispose_date,
      </if>
      <if test="wasteDisposePrice != null">
        waste_dispose_price,
      </if>
      <if test="wasteUser != null">
        waste_user,
      </if>
      <if test="wasteRemark != null">
        waste_remark,
      </if>
      <if test="wasteDisposeStatus != null">
        waste_dispose_status,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="reasonsRejection != null">
        reasons_rejection,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareWasteWarehouseId != null">
        #{wareWasteWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="containerNo != null">
        #{containerNo,jdbcType=VARCHAR},
      </if>
      <if test="client != null">
        #{client,jdbcType=INTEGER},
      </if>
      <if test="useContainerUser != null">
        #{useContainerUser,jdbcType=INTEGER},
      </if>
      <if test="returnYard != null">
        #{returnYard,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="spareParts != null">
        #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="sparePartsBatch != null">
        #{sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="stockinType != null">
        #{stockinType,jdbcType=VARCHAR},
      </if>
      <if test="stockinRemark != null">
        #{stockinRemark,jdbcType=VARCHAR},
      </if>
      <if test="stockinDate != null">
        #{stockinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockinNum != null">
        #{stockinNum,jdbcType=DOUBLE},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=DECIMAL},
      </if>
      <if test="disposeNo != null">
        #{disposeNo,jdbcType=VARCHAR},
      </if>
      <if test="wasteDisposeNum != null">
        #{wasteDisposeNum,jdbcType=DOUBLE},
      </if>
      <if test="wasteDisposeDate != null">
        #{wasteDisposeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wasteDisposePrice != null">
        #{wasteDisposePrice,jdbcType=DECIMAL},
      </if>
      <if test="wasteUser != null">
        #{wasteUser,jdbcType=INTEGER},
      </if>
      <if test="wasteRemark != null">
        #{wasteRemark,jdbcType=VARCHAR},
      </if>
      <if test="wasteDisposeStatus != null">
        #{wasteDisposeStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="reasonsRejection != null">
        #{reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareWasteWarehouseExample" resultType="java.lang.Long">
    select count(*) from ware_waste_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_waste_warehouse
    <set>
      <if test="record.wareWasteWarehouseId != null">
        ware_waste_warehouse_id = #{record.wareWasteWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.no != null">
        `no` = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.containerNo != null">
        container_no = #{record.containerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.client != null">
        client = #{record.client,jdbcType=INTEGER},
      </if>
      <if test="record.useContainerUser != null">
        use_container_user = #{record.useContainerUser,jdbcType=INTEGER},
      </if>
      <if test="record.returnYard != null">
        return_yard = #{record.returnYard,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.spareParts != null">
        spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      </if>
      <if test="record.sparePartsBatch != null">
        spare_parts_batch = #{record.sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.stockinType != null">
        stockin_type = #{record.stockinType,jdbcType=VARCHAR},
      </if>
      <if test="record.stockinRemark != null">
        stockin_remark = #{record.stockinRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.stockinDate != null">
        stockin_date = #{record.stockinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stockinNum != null">
        stockin_num = #{record.stockinNum,jdbcType=DOUBLE},
      </if>
      <if test="record.oldPrice != null">
        old_price = #{record.oldPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.disposeNo != null">
        dispose_no = #{record.disposeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.wasteDisposeNum != null">
        waste_dispose_num = #{record.wasteDisposeNum,jdbcType=DOUBLE},
      </if>
      <if test="record.wasteDisposeDate != null">
        waste_dispose_date = #{record.wasteDisposeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wasteDisposePrice != null">
        waste_dispose_price = #{record.wasteDisposePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.wasteUser != null">
        waste_user = #{record.wasteUser,jdbcType=INTEGER},
      </if>
      <if test="record.wasteRemark != null">
        waste_remark = #{record.wasteRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.wasteDisposeStatus != null">
        waste_dispose_status = #{record.wasteDisposeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatus != null">
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.reasonsRejection != null">
        reasons_rejection = #{record.reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_waste_warehouse
    set ware_waste_warehouse_id = #{record.wareWasteWarehouseId,jdbcType=INTEGER},
      `no` = #{record.no,jdbcType=VARCHAR},
      container_no = #{record.containerNo,jdbcType=VARCHAR},
      client = #{record.client,jdbcType=INTEGER},
      use_container_user = #{record.useContainerUser,jdbcType=INTEGER},
      return_yard = #{record.returnYard,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      spare_parts_batch = #{record.sparePartsBatch,jdbcType=VARCHAR},
      stockin_type = #{record.stockinType,jdbcType=VARCHAR},
      stockin_remark = #{record.stockinRemark,jdbcType=VARCHAR},
      stockin_date = #{record.stockinDate,jdbcType=TIMESTAMP},
      stockin_num = #{record.stockinNum,jdbcType=DOUBLE},
      old_price = #{record.oldPrice,jdbcType=DECIMAL},
      dispose_no = #{record.disposeNo,jdbcType=VARCHAR},
      waste_dispose_num = #{record.wasteDisposeNum,jdbcType=DOUBLE},
      waste_dispose_date = #{record.wasteDisposeDate,jdbcType=TIMESTAMP},
      waste_dispose_price = #{record.wasteDisposePrice,jdbcType=DECIMAL},
      waste_user = #{record.wasteUser,jdbcType=INTEGER},
      waste_remark = #{record.wasteRemark,jdbcType=VARCHAR},
      waste_dispose_status = #{record.wasteDisposeStatus,jdbcType=VARCHAR},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      reasons_rejection = #{record.reasonsRejection,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareWasteWarehouse">
    update ware_waste_warehouse
    <set>
      <if test="no != null">
        `no` = #{no,jdbcType=VARCHAR},
      </if>
      <if test="containerNo != null">
        container_no = #{containerNo,jdbcType=VARCHAR},
      </if>
      <if test="client != null">
        client = #{client,jdbcType=INTEGER},
      </if>
      <if test="useContainerUser != null">
        use_container_user = #{useContainerUser,jdbcType=INTEGER},
      </if>
      <if test="returnYard != null">
        return_yard = #{returnYard,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="spareParts != null">
        spare_parts = #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="sparePartsBatch != null">
        spare_parts_batch = #{sparePartsBatch,jdbcType=VARCHAR},
      </if>
      <if test="stockinType != null">
        stockin_type = #{stockinType,jdbcType=VARCHAR},
      </if>
      <if test="stockinRemark != null">
        stockin_remark = #{stockinRemark,jdbcType=VARCHAR},
      </if>
      <if test="stockinDate != null">
        stockin_date = #{stockinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockinNum != null">
        stockin_num = #{stockinNum,jdbcType=DOUBLE},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=DECIMAL},
      </if>
      <if test="disposeNo != null">
        dispose_no = #{disposeNo,jdbcType=VARCHAR},
      </if>
      <if test="wasteDisposeNum != null">
        waste_dispose_num = #{wasteDisposeNum,jdbcType=DOUBLE},
      </if>
      <if test="wasteDisposeDate != null">
        waste_dispose_date = #{wasteDisposeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wasteDisposePrice != null">
        waste_dispose_price = #{wasteDisposePrice,jdbcType=DECIMAL},
      </if>
      <if test="wasteUser != null">
        waste_user = #{wasteUser,jdbcType=INTEGER},
      </if>
      <if test="wasteRemark != null">
        waste_remark = #{wasteRemark,jdbcType=VARCHAR},
      </if>
      <if test="wasteDisposeStatus != null">
        waste_dispose_status = #{wasteDisposeStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="reasonsRejection != null">
        reasons_rejection = #{reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where ware_waste_warehouse_id = #{wareWasteWarehouseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareWasteWarehouse">
    update ware_waste_warehouse
    set `no` = #{no,jdbcType=VARCHAR},
      container_no = #{containerNo,jdbcType=VARCHAR},
      client = #{client,jdbcType=INTEGER},
      use_container_user = #{useContainerUser,jdbcType=INTEGER},
      return_yard = #{returnYard,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      spare_parts = #{spareParts,jdbcType=VARCHAR},
      spare_parts_batch = #{sparePartsBatch,jdbcType=VARCHAR},
      stockin_type = #{stockinType,jdbcType=VARCHAR},
      stockin_remark = #{stockinRemark,jdbcType=VARCHAR},
      stockin_date = #{stockinDate,jdbcType=TIMESTAMP},
      stockin_num = #{stockinNum,jdbcType=DOUBLE},
      old_price = #{oldPrice,jdbcType=DECIMAL},
      dispose_no = #{disposeNo,jdbcType=VARCHAR},
      waste_dispose_num = #{wasteDisposeNum,jdbcType=DOUBLE},
      waste_dispose_date = #{wasteDisposeDate,jdbcType=TIMESTAMP},
      waste_dispose_price = #{wasteDisposePrice,jdbcType=DECIMAL},
      waste_user = #{wasteUser,jdbcType=INTEGER},
      waste_remark = #{wasteRemark,jdbcType=VARCHAR},
      waste_dispose_status = #{wasteDisposeStatus,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      reasons_rejection = #{reasonsRejection,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where ware_waste_warehouse_id = #{wareWasteWarehouseId,jdbcType=INTEGER}
  </update>
</mapper>