<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareShipSupplyReplaceMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareShipSupplyReplace">
    <id column="ware_ship_supply_replace_id" jdbcType="INTEGER" property="wareShipSupplyReplaceId" />
    <result column="ship_supply_replace_no" jdbcType="VARCHAR" property="shipSupplyReplaceNo" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="replace_company" jdbcType="VARCHAR" property="replaceCompany" />
    <result column="ship_supply_company" jdbcType="VARCHAR" property="shipSupplyCompany" />
    <result column="ship_supply_cz" jdbcType="VARCHAR" property="shipSupplyCz" />
    <result column="ship_supply_price" jdbcType="DECIMAL" property="shipSupplyPrice" />
    <result column="exchange_rate" jdbcType="DECIMAL" property="exchangeRate" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="bill_status" jdbcType="VARCHAR" property="billStatus" />
    <result column="ship_supply_date" jdbcType="TIMESTAMP" property="shipSupplyDate" />
    <result column="voyage_number" jdbcType="VARCHAR" property="voyageNumber" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="ship_name" jdbcType="VARCHAR" property="shipName" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="reasons_rejection" jdbcType="VARCHAR" property="reasonsRejection" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_ship_supply_replace_id, ship_supply_replace_no, `no`, replace_company, ship_supply_company, 
    ship_supply_cz, ship_supply_price, exchange_rate, customer, bill_status, ship_supply_date, 
    voyage_number, `status`, ship_name, audit_status, reasons_rejection, remark, is_del, 
    create_time, create_user, update_time, update_user, bill_type
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareShipSupplyReplaceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_ship_supply_replace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_ship_supply_replace
    where ware_ship_supply_replace_id = #{wareShipSupplyReplaceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_ship_supply_replace
    where ware_ship_supply_replace_id = #{wareShipSupplyReplaceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareShipSupplyReplaceExample">
    delete from ware_ship_supply_replace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareShipSupplyReplace">
    <selectKey keyProperty="wareShipSupplyReplaceId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ware_ship_supply_replace (ship_supply_replace_no, `no`, replace_company, 
      ship_supply_company, ship_supply_cz, ship_supply_price, 
      exchange_rate, customer, bill_status, 
      ship_supply_date, voyage_number, `status`, 
      ship_name, audit_status, reasons_rejection, 
      remark, is_del, create_time, 
      create_user, update_time, update_user, 
      bill_type)
    values (#{shipSupplyReplaceNo,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{replaceCompany,jdbcType=VARCHAR}, 
      #{shipSupplyCompany,jdbcType=VARCHAR}, #{shipSupplyCz,jdbcType=VARCHAR}, #{shipSupplyPrice,jdbcType=DECIMAL}, 
      #{exchangeRate,jdbcType=DECIMAL}, #{customer,jdbcType=VARCHAR}, #{billStatus,jdbcType=VARCHAR}, 
      #{shipSupplyDate,jdbcType=TIMESTAMP}, #{voyageNumber,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{shipName,jdbcType=VARCHAR}, #{auditStatus,jdbcType=VARCHAR}, #{reasonsRejection,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{billType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareShipSupplyReplace">
    <selectKey keyProperty="wareShipSupplyReplaceId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ware_ship_supply_replace
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shipSupplyReplaceNo != null">
        ship_supply_replace_no,
      </if>
      <if test="no != null">
        `no`,
      </if>
      <if test="replaceCompany != null">
        replace_company,
      </if>
      <if test="shipSupplyCompany != null">
        ship_supply_company,
      </if>
      <if test="shipSupplyCz != null">
        ship_supply_cz,
      </if>
      <if test="shipSupplyPrice != null">
        ship_supply_price,
      </if>
      <if test="exchangeRate != null">
        exchange_rate,
      </if>
      <if test="customer != null">
        customer,
      </if>
      <if test="billStatus != null">
        bill_status,
      </if>
      <if test="shipSupplyDate != null">
        ship_supply_date,
      </if>
      <if test="voyageNumber != null">
        voyage_number,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="shipName != null">
        ship_name,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="reasonsRejection != null">
        reasons_rejection,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="billType != null">
        bill_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shipSupplyReplaceNo != null">
        #{shipSupplyReplaceNo,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="replaceCompany != null">
        #{replaceCompany,jdbcType=VARCHAR},
      </if>
      <if test="shipSupplyCompany != null">
        #{shipSupplyCompany,jdbcType=VARCHAR},
      </if>
      <if test="shipSupplyCz != null">
        #{shipSupplyCz,jdbcType=VARCHAR},
      </if>
      <if test="shipSupplyPrice != null">
        #{shipSupplyPrice,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRate != null">
        #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="customer != null">
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null">
        #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="shipSupplyDate != null">
        #{shipSupplyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="voyageNumber != null">
        #{voyageNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="shipName != null">
        #{shipName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="reasonsRejection != null">
        #{reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="billType != null">
        #{billType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareShipSupplyReplaceExample" resultType="java.lang.Long">
    select count(*) from ware_ship_supply_replace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_ship_supply_replace
    <set>
      <if test="record.wareShipSupplyReplaceId != null">
        ware_ship_supply_replace_id = #{record.wareShipSupplyReplaceId,jdbcType=INTEGER},
      </if>
      <if test="record.shipSupplyReplaceNo != null">
        ship_supply_replace_no = #{record.shipSupplyReplaceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null">
        `no` = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.replaceCompany != null">
        replace_company = #{record.replaceCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.shipSupplyCompany != null">
        ship_supply_company = #{record.shipSupplyCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.shipSupplyCz != null">
        ship_supply_cz = #{record.shipSupplyCz,jdbcType=VARCHAR},
      </if>
      <if test="record.shipSupplyPrice != null">
        ship_supply_price = #{record.shipSupplyPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.exchangeRate != null">
        exchange_rate = #{record.exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="record.customer != null">
        customer = #{record.customer,jdbcType=VARCHAR},
      </if>
      <if test="record.billStatus != null">
        bill_status = #{record.billStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.shipSupplyDate != null">
        ship_supply_date = #{record.shipSupplyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.voyageNumber != null">
        voyage_number = #{record.voyageNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.shipName != null">
        ship_name = #{record.shipName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatus != null">
        audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.reasonsRejection != null">
        reasons_rejection = #{record.reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.billType != null">
        bill_type = #{record.billType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_ship_supply_replace
    set ware_ship_supply_replace_id = #{record.wareShipSupplyReplaceId,jdbcType=INTEGER},
      ship_supply_replace_no = #{record.shipSupplyReplaceNo,jdbcType=VARCHAR},
      `no` = #{record.no,jdbcType=VARCHAR},
      replace_company = #{record.replaceCompany,jdbcType=VARCHAR},
      ship_supply_company = #{record.shipSupplyCompany,jdbcType=VARCHAR},
      ship_supply_cz = #{record.shipSupplyCz,jdbcType=VARCHAR},
      ship_supply_price = #{record.shipSupplyPrice,jdbcType=DECIMAL},
      exchange_rate = #{record.exchangeRate,jdbcType=DECIMAL},
      customer = #{record.customer,jdbcType=VARCHAR},
      bill_status = #{record.billStatus,jdbcType=VARCHAR},
      ship_supply_date = #{record.shipSupplyDate,jdbcType=TIMESTAMP},
      voyage_number = #{record.voyageNumber,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=VARCHAR},
      ship_name = #{record.shipName,jdbcType=VARCHAR},
      audit_status = #{record.auditStatus,jdbcType=VARCHAR},
      reasons_rejection = #{record.reasonsRejection,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      bill_type = #{record.billType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareShipSupplyReplace">
    update ware_ship_supply_replace
    <set>
      <if test="shipSupplyReplaceNo != null">
        ship_supply_replace_no = #{shipSupplyReplaceNo,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        `no` = #{no,jdbcType=VARCHAR},
      </if>
      <if test="replaceCompany != null">
        replace_company = #{replaceCompany,jdbcType=VARCHAR},
      </if>
      <if test="shipSupplyCompany != null">
        ship_supply_company = #{shipSupplyCompany,jdbcType=VARCHAR},
      </if>
      <if test="shipSupplyCz != null">
        ship_supply_cz = #{shipSupplyCz,jdbcType=VARCHAR},
      </if>
      <if test="shipSupplyPrice != null">
        ship_supply_price = #{shipSupplyPrice,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRate != null">
        exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="customer != null">
        customer = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null">
        bill_status = #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="shipSupplyDate != null">
        ship_supply_date = #{shipSupplyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="voyageNumber != null">
        voyage_number = #{voyageNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="shipName != null">
        ship_name = #{shipName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="reasonsRejection != null">
        reasons_rejection = #{reasonsRejection,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="billType != null">
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
    </set>
    where ware_ship_supply_replace_id = #{wareShipSupplyReplaceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareShipSupplyReplace">
    update ware_ship_supply_replace
    set ship_supply_replace_no = #{shipSupplyReplaceNo,jdbcType=VARCHAR},
      `no` = #{no,jdbcType=VARCHAR},
      replace_company = #{replaceCompany,jdbcType=VARCHAR},
      ship_supply_company = #{shipSupplyCompany,jdbcType=VARCHAR},
      ship_supply_cz = #{shipSupplyCz,jdbcType=VARCHAR},
      ship_supply_price = #{shipSupplyPrice,jdbcType=DECIMAL},
      exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      customer = #{customer,jdbcType=VARCHAR},
      bill_status = #{billStatus,jdbcType=VARCHAR},
      ship_supply_date = #{shipSupplyDate,jdbcType=TIMESTAMP},
      voyage_number = #{voyageNumber,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      ship_name = #{shipName,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      reasons_rejection = #{reasonsRejection,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      bill_type = #{billType,jdbcType=VARCHAR}
    where ware_ship_supply_replace_id = #{wareShipSupplyReplaceId,jdbcType=INTEGER}
  </update>
</mapper>