<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareAssetLogMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareAssetLog">
    <id column="ware_asset_log_id" jdbcType="INTEGER" property="wareAssetLogId" />
    <result column="operator" jdbcType="INTEGER" property="operator" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="asset_manage_id" jdbcType="INTEGER" property="assetManageId" />
    <result column="asset" jdbcType="VARCHAR" property="asset" />
    <result column="asset_no" jdbcType="VARCHAR" property="assetNo" />
    <result column="asset_name" jdbcType="VARCHAR" property="assetName" />
    <result column="operate_content" jdbcType="VARCHAR" property="operateContent" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_asset_log_id, `operator`, operate_type, asset_manage_id, asset, asset_no, asset_name, 
    operate_content, operate_time, is_del, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareAssetLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_asset_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_asset_log
    where ware_asset_log_id = #{wareAssetLogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_asset_log
    where ware_asset_log_id = #{wareAssetLogId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareAssetLogExample">
    delete from ware_asset_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareAssetLog">
    insert into ware_asset_log (ware_asset_log_id, `operator`, operate_type, 
      asset_manage_id, asset, asset_no, 
      asset_name, operate_content, operate_time, 
      is_del, create_time, create_user, 
      update_time, update_user)
    values (#{wareAssetLogId,jdbcType=INTEGER}, #{operator,jdbcType=INTEGER}, #{operateType,jdbcType=VARCHAR}, 
      #{assetManageId,jdbcType=INTEGER}, #{asset,jdbcType=VARCHAR}, #{assetNo,jdbcType=VARCHAR}, 
      #{assetName,jdbcType=VARCHAR}, #{operateContent,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareAssetLog">
    insert into ware_asset_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareAssetLogId != null">
        ware_asset_log_id,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="assetManageId != null">
        asset_manage_id,
      </if>
      <if test="asset != null">
        asset,
      </if>
      <if test="assetNo != null">
        asset_no,
      </if>
      <if test="assetName != null">
        asset_name,
      </if>
      <if test="operateContent != null">
        operate_content,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareAssetLogId != null">
        #{wareAssetLogId,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="assetManageId != null">
        #{assetManageId,jdbcType=INTEGER},
      </if>
      <if test="asset != null">
        #{asset,jdbcType=VARCHAR},
      </if>
      <if test="assetNo != null">
        #{assetNo,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null">
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="operateContent != null">
        #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareAssetLogExample" resultType="java.lang.Long">
    select count(*) from ware_asset_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_asset_log
    <set>
      <if test="record.wareAssetLogId != null">
        ware_asset_log_id = #{record.wareAssetLogId,jdbcType=INTEGER},
      </if>
      <if test="record.operator != null">
        `operator` = #{record.operator,jdbcType=INTEGER},
      </if>
      <if test="record.operateType != null">
        operate_type = #{record.operateType,jdbcType=VARCHAR},
      </if>
      <if test="record.assetManageId != null">
        asset_manage_id = #{record.assetManageId,jdbcType=INTEGER},
      </if>
      <if test="record.asset != null">
        asset = #{record.asset,jdbcType=VARCHAR},
      </if>
      <if test="record.assetNo != null">
        asset_no = #{record.assetNo,jdbcType=VARCHAR},
      </if>
      <if test="record.assetName != null">
        asset_name = #{record.assetName,jdbcType=VARCHAR},
      </if>
      <if test="record.operateContent != null">
        operate_content = #{record.operateContent,jdbcType=VARCHAR},
      </if>
      <if test="record.operateTime != null">
        operate_time = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_asset_log
    set ware_asset_log_id = #{record.wareAssetLogId,jdbcType=INTEGER},
      `operator` = #{record.operator,jdbcType=INTEGER},
      operate_type = #{record.operateType,jdbcType=VARCHAR},
      asset_manage_id = #{record.assetManageId,jdbcType=INTEGER},
      asset = #{record.asset,jdbcType=VARCHAR},
      asset_no = #{record.assetNo,jdbcType=VARCHAR},
      asset_name = #{record.assetName,jdbcType=VARCHAR},
      operate_content = #{record.operateContent,jdbcType=VARCHAR},
      operate_time = #{record.operateTime,jdbcType=TIMESTAMP},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareAssetLog">
    update ware_asset_log
    <set>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=INTEGER},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="assetManageId != null">
        asset_manage_id = #{assetManageId,jdbcType=INTEGER},
      </if>
      <if test="asset != null">
        asset = #{asset,jdbcType=VARCHAR},
      </if>
      <if test="assetNo != null">
        asset_no = #{assetNo,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null">
        asset_name = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="operateContent != null">
        operate_content = #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where ware_asset_log_id = #{wareAssetLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareAssetLog">
    update ware_asset_log
    set `operator` = #{operator,jdbcType=INTEGER},
      operate_type = #{operateType,jdbcType=VARCHAR},
      asset_manage_id = #{assetManageId,jdbcType=INTEGER},
      asset = #{asset,jdbcType=VARCHAR},
      asset_no = #{assetNo,jdbcType=VARCHAR},
      asset_name = #{assetName,jdbcType=VARCHAR},
      operate_content = #{operateContent,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where ware_asset_log_id = #{wareAssetLogId,jdbcType=INTEGER}
  </update>
</mapper>