<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareInternalProcurementDetailMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareInternalProcurementDetail">
    <id column="ware_internal_procurement_detail_id" jdbcType="INTEGER" property="wareInternalProcurementDetailId" />
    <result column="ware_internal_procurement" jdbcType="INTEGER" property="wareInternalProcurement" />
    <result column="spare_parts" jdbcType="VARCHAR" property="spareParts" />
    <result column="num" jdbcType="DOUBLE" property="num" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="out_warehouse" jdbcType="VARCHAR" property="outWarehouse" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_internal_procurement_detail_id, ware_internal_procurement, spare_parts, num, 
    company, out_warehouse, freight, price, total_amount, is_del, create_time, create_user, 
    update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareInternalProcurementDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_internal_procurement_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_internal_procurement_detail
    where ware_internal_procurement_detail_id = #{wareInternalProcurementDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_internal_procurement_detail
    where ware_internal_procurement_detail_id = #{wareInternalProcurementDetailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareInternalProcurementDetailExample">
    delete from ware_internal_procurement_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareInternalProcurementDetail">
    insert into ware_internal_procurement_detail (ware_internal_procurement_detail_id, ware_internal_procurement, 
      spare_parts, num, company, 
      out_warehouse, freight, price, 
      total_amount, is_del, create_time, 
      create_user, update_time, update_user
      )
    values (#{wareInternalProcurementDetailId,jdbcType=INTEGER}, #{wareInternalProcurement,jdbcType=INTEGER}, 
      #{spareParts,jdbcType=VARCHAR}, #{num,jdbcType=DOUBLE}, #{company,jdbcType=VARCHAR}, 
      #{outWarehouse,jdbcType=VARCHAR}, #{freight,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{totalAmount,jdbcType=DECIMAL}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareInternalProcurementDetail">
    insert into ware_internal_procurement_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareInternalProcurementDetailId != null">
        ware_internal_procurement_detail_id,
      </if>
      <if test="wareInternalProcurement != null">
        ware_internal_procurement,
      </if>
      <if test="spareParts != null">
        spare_parts,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="outWarehouse != null">
        out_warehouse,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareInternalProcurementDetailId != null">
        #{wareInternalProcurementDetailId,jdbcType=INTEGER},
      </if>
      <if test="wareInternalProcurement != null">
        #{wareInternalProcurement,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=DOUBLE},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouse != null">
        #{outWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareInternalProcurementDetailExample" resultType="java.lang.Long">
    select count(*) from ware_internal_procurement_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_internal_procurement_detail
    <set>
      <if test="record.wareInternalProcurementDetailId != null">
        ware_internal_procurement_detail_id = #{record.wareInternalProcurementDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.wareInternalProcurement != null">
        ware_internal_procurement = #{record.wareInternalProcurement,jdbcType=INTEGER},
      </if>
      <if test="record.spareParts != null">
        spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=DOUBLE},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.outWarehouse != null">
        out_warehouse = #{record.outWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="record.freight != null">
        freight = #{record.freight,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.totalAmount != null">
        total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_internal_procurement_detail
    set ware_internal_procurement_detail_id = #{record.wareInternalProcurementDetailId,jdbcType=INTEGER},
      ware_internal_procurement = #{record.wareInternalProcurement,jdbcType=INTEGER},
      spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=DOUBLE},
      company = #{record.company,jdbcType=VARCHAR},
      out_warehouse = #{record.outWarehouse,jdbcType=VARCHAR},
      freight = #{record.freight,jdbcType=DECIMAL},
      price = #{record.price,jdbcType=DECIMAL},
      total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareInternalProcurementDetail">
    update ware_internal_procurement_detail
    <set>
      <if test="wareInternalProcurement != null">
        ware_internal_procurement = #{wareInternalProcurement,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        spare_parts = #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DOUBLE},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="outWarehouse != null">
        out_warehouse = #{outWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where ware_internal_procurement_detail_id = #{wareInternalProcurementDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareInternalProcurementDetail">
    update ware_internal_procurement_detail
    set ware_internal_procurement = #{wareInternalProcurement,jdbcType=INTEGER},
      spare_parts = #{spareParts,jdbcType=VARCHAR},
      num = #{num,jdbcType=DOUBLE},
      company = #{company,jdbcType=VARCHAR},
      out_warehouse = #{outWarehouse,jdbcType=VARCHAR},
      freight = #{freight,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where ware_internal_procurement_detail_id = #{wareInternalProcurementDetailId,jdbcType=INTEGER}
  </update>
</mapper>