<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareEscrowCompanyMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareEscrowCompany">
    <id column="ware_escrow_company_id" jdbcType="INTEGER" property="wareEscrowCompanyId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="escrow_company_name" jdbcType="VARCHAR" property="escrowCompanyName" />
    <result column="escrow_company_name_en" jdbcType="VARCHAR" property="escrowCompanyNameEn" />
    <result column="escrow_company_addr" jdbcType="VARCHAR" property="escrowCompanyAddr" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="escrow_company_no" jdbcType="VARCHAR" property="escrowCompanyNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_escrow_company_id, `key`, escrow_company_name, escrow_company_name_en, escrow_company_addr, 
    remark, is_del, create_time, create_user, update_time, update_user, escrow_company_no
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareEscrowCompanyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_escrow_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_escrow_company
    where ware_escrow_company_id = #{wareEscrowCompanyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_escrow_company
    where ware_escrow_company_id = #{wareEscrowCompanyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareEscrowCompanyExample">
    delete from ware_escrow_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareEscrowCompany">
    insert into ware_escrow_company (ware_escrow_company_id, `key`, escrow_company_name, 
      escrow_company_name_en, escrow_company_addr, 
      remark, is_del, create_time, 
      create_user, update_time, update_user, 
      escrow_company_no)
    values (#{wareEscrowCompanyId,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{escrowCompanyName,jdbcType=VARCHAR}, 
      #{escrowCompanyNameEn,jdbcType=VARCHAR}, #{escrowCompanyAddr,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{escrowCompanyNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareEscrowCompany">
    insert into ware_escrow_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareEscrowCompanyId != null">
        ware_escrow_company_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="escrowCompanyName != null">
        escrow_company_name,
      </if>
      <if test="escrowCompanyNameEn != null">
        escrow_company_name_en,
      </if>
      <if test="escrowCompanyAddr != null">
        escrow_company_addr,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="escrowCompanyNo != null">
        escrow_company_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareEscrowCompanyId != null">
        #{wareEscrowCompanyId,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="escrowCompanyName != null">
        #{escrowCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="escrowCompanyNameEn != null">
        #{escrowCompanyNameEn,jdbcType=VARCHAR},
      </if>
      <if test="escrowCompanyAddr != null">
        #{escrowCompanyAddr,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="escrowCompanyNo != null">
        #{escrowCompanyNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareEscrowCompanyExample" resultType="java.lang.Long">
    select count(*) from ware_escrow_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_escrow_company
    <set>
      <if test="record.wareEscrowCompanyId != null">
        ware_escrow_company_id = #{record.wareEscrowCompanyId,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.escrowCompanyName != null">
        escrow_company_name = #{record.escrowCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.escrowCompanyNameEn != null">
        escrow_company_name_en = #{record.escrowCompanyNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.escrowCompanyAddr != null">
        escrow_company_addr = #{record.escrowCompanyAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.escrowCompanyNo != null">
        escrow_company_no = #{record.escrowCompanyNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_escrow_company
    set ware_escrow_company_id = #{record.wareEscrowCompanyId,jdbcType=INTEGER},
      `key` = #{record.key,jdbcType=VARCHAR},
      escrow_company_name = #{record.escrowCompanyName,jdbcType=VARCHAR},
      escrow_company_name_en = #{record.escrowCompanyNameEn,jdbcType=VARCHAR},
      escrow_company_addr = #{record.escrowCompanyAddr,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      escrow_company_no = #{record.escrowCompanyNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareEscrowCompany">
    update ware_escrow_company
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="escrowCompanyName != null">
        escrow_company_name = #{escrowCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="escrowCompanyNameEn != null">
        escrow_company_name_en = #{escrowCompanyNameEn,jdbcType=VARCHAR},
      </if>
      <if test="escrowCompanyAddr != null">
        escrow_company_addr = #{escrowCompanyAddr,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="escrowCompanyNo != null">
        escrow_company_no = #{escrowCompanyNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ware_escrow_company_id = #{wareEscrowCompanyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareEscrowCompany">
    update ware_escrow_company
    set `key` = #{key,jdbcType=VARCHAR},
      escrow_company_name = #{escrowCompanyName,jdbcType=VARCHAR},
      escrow_company_name_en = #{escrowCompanyNameEn,jdbcType=VARCHAR},
      escrow_company_addr = #{escrowCompanyAddr,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      escrow_company_no = #{escrowCompanyNo,jdbcType=VARCHAR}
    where ware_escrow_company_id = #{wareEscrowCompanyId,jdbcType=INTEGER}
  </update>
</mapper>