<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanlly.warehouse.dao.WareMaintainPresentationDetailMapper">
  <resultMap id="BaseResultMap" type="com.sanlly.warehouse.entity.WareMaintainPresentationDetail">
    <id column="ware_maintain_presentation_detail_id" jdbcType="INTEGER" property="wareMaintainPresentationDetailId" />
    <result column="ware_maintain_presentation" jdbcType="INTEGER" property="wareMaintainPresentation" />
    <result column="spare_parts" jdbcType="VARCHAR" property="spareParts" />
    <result column="processing_charges" jdbcType="DECIMAL" property="processingCharges" />
    <result column="spare_parts_num" jdbcType="DOUBLE" property="sparePartsNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ware_maintain_presentation_detail_id, ware_maintain_presentation, spare_parts, processing_charges, 
    spare_parts_num, remark, is_del, create_time, create_user, update_time, update_user, 
    invoice_type
  </sql>
  <select id="selectByExample" parameterType="com.sanlly.warehouse.entity.WareMaintainPresentationDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ware_maintain_presentation_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0">
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ware_maintain_presentation_detail
    where ware_maintain_presentation_detail_id = #{wareMaintainPresentationDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ware_maintain_presentation_detail
    where ware_maintain_presentation_detail_id = #{wareMaintainPresentationDetailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanlly.warehouse.entity.WareMaintainPresentationDetailExample">
    delete from ware_maintain_presentation_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanlly.warehouse.entity.WareMaintainPresentationDetail">
    insert into ware_maintain_presentation_detail (ware_maintain_presentation_detail_id, ware_maintain_presentation, 
      spare_parts, processing_charges, spare_parts_num, 
      remark, is_del, create_time, 
      create_user, update_time, update_user, 
      invoice_type)
    values (#{wareMaintainPresentationDetailId,jdbcType=INTEGER}, #{wareMaintainPresentation,jdbcType=INTEGER}, 
      #{spareParts,jdbcType=VARCHAR}, #{processingCharges,jdbcType=DECIMAL}, #{sparePartsNum,jdbcType=DOUBLE}, 
      #{remark,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{invoiceType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanlly.warehouse.entity.WareMaintainPresentationDetail">
    insert into ware_maintain_presentation_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wareMaintainPresentationDetailId != null">
        ware_maintain_presentation_detail_id,
      </if>
      <if test="wareMaintainPresentation != null">
        ware_maintain_presentation,
      </if>
      <if test="spareParts != null">
        spare_parts,
      </if>
      <if test="processingCharges != null">
        processing_charges,
      </if>
      <if test="sparePartsNum != null">
        spare_parts_num,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wareMaintainPresentationDetailId != null">
        #{wareMaintainPresentationDetailId,jdbcType=INTEGER},
      </if>
      <if test="wareMaintainPresentation != null">
        #{wareMaintainPresentation,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="processingCharges != null">
        #{processingCharges,jdbcType=DECIMAL},
      </if>
      <if test="sparePartsNum != null">
        #{sparePartsNum,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanlly.warehouse.entity.WareMaintainPresentationDetailExample" resultType="java.lang.Long">
    select count(*) from ware_maintain_presentation_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ware_maintain_presentation_detail
    <set>
      <if test="record.wareMaintainPresentationDetailId != null">
        ware_maintain_presentation_detail_id = #{record.wareMaintainPresentationDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.wareMaintainPresentation != null">
        ware_maintain_presentation = #{record.wareMaintainPresentation,jdbcType=INTEGER},
      </if>
      <if test="record.spareParts != null">
        spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      </if>
      <if test="record.processingCharges != null">
        processing_charges = #{record.processingCharges,jdbcType=DECIMAL},
      </if>
      <if test="record.sparePartsNum != null">
        spare_parts_num = #{record.sparePartsNum,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceType != null">
        invoice_type = #{record.invoiceType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ware_maintain_presentation_detail
    set ware_maintain_presentation_detail_id = #{record.wareMaintainPresentationDetailId,jdbcType=INTEGER},
      ware_maintain_presentation = #{record.wareMaintainPresentation,jdbcType=INTEGER},
      spare_parts = #{record.spareParts,jdbcType=VARCHAR},
      processing_charges = #{record.processingCharges,jdbcType=DECIMAL},
      spare_parts_num = #{record.sparePartsNum,jdbcType=DOUBLE},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      invoice_type = #{record.invoiceType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanlly.warehouse.entity.WareMaintainPresentationDetail">
    update ware_maintain_presentation_detail
    <set>
      <if test="wareMaintainPresentation != null">
        ware_maintain_presentation = #{wareMaintainPresentation,jdbcType=INTEGER},
      </if>
      <if test="spareParts != null">
        spare_parts = #{spareParts,jdbcType=VARCHAR},
      </if>
      <if test="processingCharges != null">
        processing_charges = #{processingCharges,jdbcType=DECIMAL},
      </if>
      <if test="sparePartsNum != null">
        spare_parts_num = #{sparePartsNum,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
      </if>
    </set>
    where ware_maintain_presentation_detail_id = #{wareMaintainPresentationDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanlly.warehouse.entity.WareMaintainPresentationDetail">
    update ware_maintain_presentation_detail
    set ware_maintain_presentation = #{wareMaintainPresentation,jdbcType=INTEGER},
      spare_parts = #{spareParts,jdbcType=VARCHAR},
      processing_charges = #{processingCharges,jdbcType=DECIMAL},
      spare_parts_num = #{sparePartsNum,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      invoice_type = #{invoiceType,jdbcType=VARCHAR}
    where ware_maintain_presentation_detail_id = #{wareMaintainPresentationDetailId,jdbcType=INTEGER}
  </update>
</mapper>